.bee-pr {
  position: relative;
}
.bee-pa {
  position: absolute;
}
.bee-oh {
  overflow: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flickity-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.flickity-page-dot:focus {
  outline: none;
  box-shadow: none;
}
.bee-col-item {
  padding-right: calc(var(--ts-gutter-x) * 0.5);
  padding-left: calc(var(--ts-gutter-x) * 0.5);
  margin-top: var(--ts-gutter-y);
  box-sizing: border-box;
  max-width: 100%;
}
.bee-col {
  flex: 1 0 0%;
}
.bee-pe-none {
  pointer-events: none;
}
@media screen and (min-width: 1600px) {
  .bee-container {
    max-width: 1440px;
    width: 100%;
  }
}
.bee-container-fluid {
  max-width: 1920px;
  width: 100%;
}

.bee_ratio {
  position: relative;
  width: 100%;
}
.bee_ratio::before {
  display: block;
  padding-top: var(--bee-aspect-ratio);
  content: "";
}
.no-js .bee_ratio:not(.bee_bg) > noscript > :not(.bee-not-style),
.bee_ratio:not(.bee_bg) > :not(.bee-not-style) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bee_ratio21_9 {
  --bee-aspect-ratio: 42.8571428571%;
}
.bee_ratio2_1 {
  --bee-aspect-ratio: 50%;
}
.bee_ratio16_9 {
  --bee-aspect-ratio: 56.25%;
}
.bee_ratio8_5 {
  --bee-aspect-ratio: 62.5%;
}
.bee_ratio3_2 {
  --bee-aspect-ratio: 66.66%;
}
.bee_ratio4_3 {
  --bee-aspect-ratio: 75%;
}
.bee_ratio4_5 {
  --bee-aspect-ratio: 80%;
}
.bee_ratio_tab {
  --bee-aspect-ratio: 65.66666666666667%;
}
.bee_ratio1_1 {
  --bee-aspect-ratio: 100%;
}
.bee_ratio5_4 {
  --bee-aspect-ratio: 125%;
}
.bee_rationt {
  --bee-aspect-ratio: 127.7777778%;
}
.bee_ratio2_3 {
  --bee-aspect-ratio: 150%;
}
.bee_ratio1_2 {
  --bee-aspect-ratio: 200%;
}
.bee_ratio_fh {
  --bee-aspect-ratio: 100vh;
}
.bee_ratiocus1 {
  --bee-aspect-ratio: calc(100% / (var(--aspect-ratiocus1)));
}
.bee_ratiocus2 {
  --bee-aspect-ratio: calc(100% / (var(--aspect-ratiocus2)));
}
.bee_ratiocus3 {
  --bee-aspect-ratio: calc(100% / (var(--aspect-ratiocus3)));
}
.bee_ratiocus4 {
  --bee-aspect-ratio: calc(100% / (var(--aspect-ratiocus4)));
}
.bee_ratioadapt .bee_ratio::before,
.bee_ratioadapt_f .bee_ratio::before {
  --bee-aspect-ratio: calc(100% / (var(--aspect-ratioapt)));
}
.bee_ratioadapt {
  --aspect-ratioapt: 1.116625310173697;
}
.bee-g-0,
.bee-gx-0,
.bee-px-0 {
  --ts-gutter-x: 0px;
}
.bee-g-0,
.bee-gy-0 {
  --ts-gutter-y: 0px;
}
.bee-g-2,
.bee-gx-2,
.bee-px-2 {
  --ts-gutter-x: 2px;
}
.bee-g-2,
.bee-gy-2 {
  --ts-gutter-y: 2px;
}
.bee-g-3,
.bee-gx-3,
.bee-px-3 {
  --ts-gutter-x: 3px;
}
.bee-g-3,
.bee-gy-3 {
  --ts-gutter-y: 3px;
}
.bee-g-4,
.bee-gx-4,
.bee-px-4 {
  --ts-gutter-x: 4px;
}
.bee-g-4,
.bee-gy-4 {
  --ts-gutter-y: 4px;
}
.bee-g-5,
.bee-gx-5,
.bee-px-5 {
  --ts-gutter-x: 5px;
}
.bee-g-5,
.bee-gy-5 {
  --ts-gutter-y: 5px;
}
.bee-g-6,
.bee-gx-6,
.bee-px-6 {
  --ts-gutter-x: 6px;
}
.bee-g-6,
.bee-gy-6 {
  --ts-gutter-y: 6px;
}
.bee-g-8,
.bee-gx-8,
.bee-px-8 {
  --ts-gutter-x: 8px;
}
.bee-g-8,
.bee-gy-8 {
  --ts-gutter-y: 8px;
}
.bee-g-10,
.bee-gx-10,
.bee-px-10 {
  --ts-gutter-x: 10px;
}
.bee-g-10,
.bee-gy-10 {
  --ts-gutter-y: 10px;
}
.bee-g-15,
.bee-gx-15,
.bee-px-15 {
  --ts-gutter-x: 15px;
}
.bee-g-15,
.bee-gy-15 {
  --ts-gutter-y: 15px;
}
.bee-g-20,
.bee-gx-20,
.bee-px-20 {
  --ts-gutter-x: 20px;
}
.bee-g-20,
.bee-gy-20 {
  --ts-gutter-y: 20px;
}
.bee-g-25,
.bee-gx-25,
.bee-px-25 {
  --ts-gutter-x: 25px;
}
.bee-g-25,
.bee-gy-25 {
  --ts-gutter-y: 25px;
}
.bee-g-30,
.bee-gx-30,
.bee-px-30 {
  --ts-gutter-x: 30px;
}
.bee-g-30,
.bee-gy-30 {
  --ts-gutter-y: 30px;
}
.bee-g-40,
.bee-gx-40,
.bee-px-40 {
  --ts-gutter-x: 40px;
}
.bee-g-40,
.bee-gy-40 {
  --ts-gutter-y: 40px;
}
@media (min-width: 768px) {
  .bee-g-md-0,
  .bee-gx-md-0,
  .bee-px-md-0 {
    --ts-gutter-x: 0px;
  }
  .bee-g-md-0,
  .bee-gy-md-0 {
    --ts-gutter-y: 0px;
  }
  .bee-g-md-2,
  .bee-gx-md-2,
  .bee-px-md-2 {
    --ts-gutter-x: 2px;
  }
  .bee-g-md-2,
  .bee-gy-md-2 {
    --ts-gutter-y: 2px;
  }
  .bee-g-md-3,
  .bee-gx-md-3,
  .bee-px-md-3 {
    --ts-gutter-x: 3px;
  }
  .bee-g-md-3,
  .bee-gy-md-3 {
    --ts-gutter-y: 3px;
  }
  .bee-g-md-4,
  .bee-gx-md-4,
  .bee-px-md-4 {
    --ts-gutter-x: 4px;
  }
  .bee-g-md-4,
  .bee-gy-md-4 {
    --ts-gutter-y: 4px;
  }
  .bee-g-md-5,
  .bee-gx-md-5,
  .bee-px-md-5 {
    --ts-gutter-x: 5px;
  }
  .bee-g-md-5,
  .bee-gy-md-5 {
    --ts-gutter-y: 5px;
  }
  .bee-g-md-6,
  .bee-gx-md-6,
  .bee-px-md-6 {
    --ts-gutter-x: 6px;
  }
  .bee-g-md-6,
  .bee-gy-md-6 {
    --ts-gutter-y: 6px;
  }
  .bee-g-md-8,
  .bee-gx-md-8,
  .bee-px-md-8 {
    --ts-gutter-x: 8px;
  }
  .bee-g-md-8,
  .bee-gy-md-8 {
    --ts-gutter-y: 8px;
  }
  .bee-g-md-10,
  .bee-gx-md-10,
  .bee-px-md-10 {
    --ts-gutter-x: 10px;
  }
  .bee-g-md-10,
  .bee-gy-md-10 {
    --ts-gutter-y: 10px;
  }
  .bee-g-md-15,
  .bee-gx-md-15,
  .bee-px-md-15 {
    --ts-gutter-x: 15px;
  }
  .bee-g-md-15,
  .bee-gy-md-15 {
    --ts-gutter-y: 15px;
  }
  .bee-g-md-20,
  .bee-gx-md-20,
  .bee-px-md-20 {
    --ts-gutter-x: 20px;
  }
  .bee-g-md-20,
  .bee-gy-md-20 {
    --ts-gutter-y: 20px;
  }
  .bee-g-md-25,
  .bee-gx-md-25,
  .bee-px-md-25 {
    --ts-gutter-x: 25px;
  }
  .bee-g-md-25,
  .bee-gy-md-25 {
    --ts-gutter-y: 25px;
  }
  .bee-g-md-30,
  .bee-gx-md-30,
  .bee-px-md-30 {
    --ts-gutter-x: 30px;
  }
  .bee-g-md-30,
  .bee-gy-md-30 {
    --ts-gutter-y: 30px;
  }
  .bee-g-md-40,
  .bee-gx-md-40,
  .bee-px-md-40 {
    --ts-gutter-x: 40px;
  }
  .bee-g-md-40,
  .bee-gy-md-40 {
    --ts-gutter-y: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .bee-g-lg-0,
  .bee-gx-lg-0,
  .bee-px-lg-0 {
    --ts-gutter-x: 0px;
  }
  .bee-g-lg-0,
  .bee-gy-lg-0 {
    --ts-gutter-y: 0px;
  }
  .bee-g-lg-2,
  .bee-gx-lg-2,
  .bee-px-lg-2 {
    --ts-gutter-x: 2px;
  }
  .bee-g-lg-2,
  .bee-gy-lg-2 {
    --ts-gutter-y: 2px;
  }
  .bee-g-lg-3,
  .bee-gx-lg-3,
  .bee-px-lg-3 {
    --ts-gutter-x: 3px;
  }
  .bee-g-lg-3,
  .bee-gy-lg-3 {
    --ts-gutter-y: 3px;
  }
  .bee-g-lg-4,
  .bee-gx-lg-4,
  .bee-px-lg-4 {
    --ts-gutter-x: 4px;
  }
  .bee-g-lg-4,
  .bee-gy-lg-4 {
    --ts-gutter-y: 4px;
  }
  .bee-g-lg-5,
  .bee-gx-lg-5,
  .bee-px-lg-5 {
    --ts-gutter-x: 5px;
  }
  .bee-g-lg-5,
  .bee-gy-lg-5 {
    --ts-gutter-y: 5px;
  }
  .bee-g-lg-6,
  .bee-gx-lg-6,
  .bee-px-lg-6 {
    --ts-gutter-x: 6px;
  }
  .bee-g-lg-6,
  .bee-gy-lg-6 {
    --ts-gutter-y: 6px;
  }
  .bee-g-lg-8,
  .bee-gx-lg-8,
  .bee-px-lg-8 {
    --ts-gutter-x: 8px;
  }
  .bee-g-lg-8,
  .bee-gy-lg-8 {
    --ts-gutter-y: 8px;
  }
  .bee-g-lg-10,
  .bee-gx-lg-10,
  .bee-px-lg-10 {
    --ts-gutter-x: 10px;
  }
  .bee-g-lg-10,
  .bee-gy-lg-10 {
    --ts-gutter-y: 10px;
  }
  .bee-g-lg-15,
  .bee-gx-lg-15,
  .bee-px-lg-15 {
    --ts-gutter-x: 15px;
  }
  .bee-g-lg-15,
  .bee-gy-lg-15 {
    --ts-gutter-y: 15px;
  }
  .bee-g-lg-20,
  .bee-gx-lg-20,
  .bee-px-lg-20 {
    --ts-gutter-x: 20px;
  }
  .bee-g-lg-20,
  .bee-gy-lg-20 {
    --ts-gutter-y: 20px;
  }
  .bee-g-lg-25,
  .bee-gx-lg-25,
  .bee-px-lg-25 {
    --ts-gutter-x: 25px;
  }
  .bee-g-lg-25,
  .bee-gy-lg-25 {
    --ts-gutter-y: 25px;
  }
  .bee-g-lg-30,
  .bee-gx-lg-30,
  .bee-px-lg-30 {
    --ts-gutter-x: 30px;
  }
  .bee-g-lg-30,
  .bee-gy-lg-30 {
    --ts-gutter-y: 30px;
  }
  .bee-g-lg-40,
  .bee-gx-lg-40,
  .bee-px-lg-40 {
    --ts-gutter-x: 40px;
  }
  .bee-gy-lg-40 {
    --ts-gutter-y: 40px;
  }
  .bee-gy-lg-64 {
    --ts-gutter-y: 64px;
  }
}
