.t4s-pr {
  position: relative;
}
.t4s-pa {
  position: absolute;
}
.t4s-oh {
  overflow: hidden;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

.t4s-col-item {
  padding-right: calc(var(--ts-gutter-x) * 0.5);
  padding-left: calc(var(--ts-gutter-x) * 0.5);
  margin-top: var(--ts-gutter-y);
  box-sizing: border-box;
  max-width: 100%;
}
.t4s-col {
  flex: 1 0 0%;
}
.t4s-pe-none {
  pointer-events: none;
}
.t4s-container {
  max-width: 1410px;
  width: 100%;
}
.t4s-container-fluid {
  max-width: 1920px;
  width: 100%;
}

.t4s_ratio {
  position: relative;
  width: 100%;
}
.t4s_ratio::before {
  display: block;
  padding-top: var(--t4s-aspect-ratio);
  content: "";
}
.no-js .t4s_ratio:not(.t4s_bg) > noscript > :not(.t4s-not-style),
.t4s_ratio:not(.t4s_bg) > :not(.t4s-not-style) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.t4s_ratio21_9 {
  --t4s-aspect-ratio: 42.8571428571%;
}
.t4s_ratio2_1 {
  --t4s-aspect-ratio: 50%;
}
.t4s_ratio16_9 {
  --t4s-aspect-ratio: 56.25%;
}
.t4s_ratio8_5 {
  --t4s-aspect-ratio: 62.5%;
}
.t4s_ratio3_2 {
  --t4s-aspect-ratio: 66.66%;
}
.t4s_ratio4_3 {
  --t4s-aspect-ratio: 75%;
}
.t4s_ratio4_5 {
  --t4s-aspect-ratio: 80%;
}
.t4s_ratio1_1 {
  --t4s-aspect-ratio: 100%;
}
.t4s_ratio5_4 {
  --t4s-aspect-ratio: 125%;
}
.t4s_rationt {
  --t4s-aspect-ratio: 127.7777778%;
}
.t4s_ratio2_3 {
  --t4s-aspect-ratio: 150%;
}
.t4s_ratio1_2 {
  --t4s-aspect-ratio: 200%;
}
.t4s-g-0,
.t4s-gx-0,
.t4s-px-0 {
  --ts-gutter-x: 0px;
}
.t4s-g-0,
.t4s-gy-0 {
  --ts-gutter-y: 0px;
}
.t4s-g-2,
.t4s-gx-2,
.t4s-px-2 {
  --ts-gutter-x: 2px;
}
.t4s-g-2,
.t4s-gy-2 {
  --ts-gutter-y: 2px;
}
.t4s-g-3,
.t4s-gx-3,
.t4s-px-3 {
  --ts-gutter-x: 3px;
}
.t4s-g-3,
.t4s-gy-3 {
  --ts-gutter-y: 3px;
}
.t4s-g-4,
.t4s-gx-4,
.t4s-px-4 {
  --ts-gutter-x: 4px;
}
.t4s-g-4,
.t4s-gy-4 {
  --ts-gutter-y: 4px;
}
.t4s-g-5,
.t4s-gx-5,
.t4s-px-5 {
  --ts-gutter-x: 5px;
}
.t4s-g-5,
.t4s-gy-5 {
  --ts-gutter-y: 5px;
}
.t4s-g-6,
.t4s-gx-6,
.t4s-px-6 {
  --ts-gutter-x: 6px;
}
.t4s-g-6,
.t4s-gy-6 {
  --ts-gutter-y: 6px;
}
.t4s-g-8,
.t4s-gx-8,
.t4s-px-8 {
  --ts-gutter-x: 8px;
}
.t4s-g-8,
.t4s-gy-8 {
  --ts-gutter-y: 8px;
}
.t4s-g-10,
.t4s-gx-10,
.t4s-px-10 {
  --ts-gutter-x: 10px;
}
.t4s-g-10,
.t4s-gy-10 {
  --ts-gutter-y: 10px;
}
.t4s-g-15,
.t4s-gx-15,
.t4s-px-15 {
  --ts-gutter-x: 15px;
}
.t4s-g-15,
.t4s-gy-15 {
  --ts-gutter-y: 15px;
}
.t4s-g-20,
.t4s-gx-20,
.t4s-px-20 {
  --ts-gutter-x: 20px;
}
.t4s-g-20,
.t4s-gy-20 {
  --ts-gutter-y: 20px;
}
.t4s-g-25,
.t4s-gx-25,
.t4s-px-25 {
  --ts-gutter-x: 25px;
}
.t4s-g-25,
.t4s-gy-25 {
  --ts-gutter-y: 25px;
}
.t4s-g-30,
.t4s-gx-30,
.t4s-px-30 {
  --ts-gutter-x: 30px;
}
.t4s-g-30,
.t4s-gy-30 {
  --ts-gutter-y: 30px;
}
.t4s-g-40,
.t4s-gx-40,
.t4s-px-40 {
  --ts-gutter-x: 40px;
}
.t4s-g-40,
.t4s-gy-40 {
  --ts-gutter-y: 40px;
}
@media (min-width: 768px) {
  .t4s-g-md-0,
  .t4s-gx-md-0,
  .t4s-px-md-0 {
    --ts-gutter-x: 0px;
  }
  .t4s-g-md-0,
  .t4s-gy-md-0 {
    --ts-gutter-y: 0px;
  }
  .t4s-g-md-2,
  .t4s-gx-md-2,
  .t4s-px-md-2 {
    --ts-gutter-x: 2px;
  }
  .t4s-g-md-2,
  .t4s-gy-md-2 {
    --ts-gutter-y: 2px;
  }
  .t4s-g-md-3,
  .t4s-gx-md-3,
  .t4s-px-md-3 {
    --ts-gutter-x: 3px;
  }
  .t4s-g-md-3,
  .t4s-gy-md-3 {
    --ts-gutter-y: 3px;
  }
  .t4s-g-md-4,
  .t4s-gx-md-4,
  .t4s-px-md-4 {
    --ts-gutter-x: 4px;
  }
  .t4s-g-md-4,
  .t4s-gy-md-4 {
    --ts-gutter-y: 4px;
  }
  .t4s-g-md-5,
  .t4s-gx-md-5,
  .t4s-px-md-5 {
    --ts-gutter-x: 5px;
  }
  .t4s-g-md-5,
  .t4s-gy-md-5 {
    --ts-gutter-y: 5px;
  }
  .t4s-g-md-6,
  .t4s-gx-md-6,
  .t4s-px-md-6 {
    --ts-gutter-x: 6px;
  }
  .t4s-g-md-6,
  .t4s-gy-md-6 {
    --ts-gutter-y: 6px;
  }
  .t4s-g-md-8,
  .t4s-gx-md-8,
  .t4s-px-md-8 {
    --ts-gutter-x: 8px;
  }
  .t4s-g-md-8,
  .t4s-gy-md-8 {
    --ts-gutter-y: 8px;
  }
  .t4s-g-md-10,
  .t4s-gx-md-10,
  .t4s-px-md-10 {
    --ts-gutter-x: 10px;
  }
  .t4s-g-md-10,
  .t4s-gy-md-10 {
    --ts-gutter-y: 10px;
  }
  .t4s-g-md-15,
  .t4s-gx-md-15,
  .t4s-px-md-15 {
    --ts-gutter-x: 15px;
  }
  .t4s-g-md-15,
  .t4s-gy-md-15 {
    --ts-gutter-y: 15px;
  }
  .t4s-g-md-20,
  .t4s-gx-md-20,
  .t4s-px-md-20 {
    --ts-gutter-x: 20px;
  }
  .t4s-g-md-20,
  .t4s-gy-md-20 {
    --ts-gutter-y: 20px;
  }
  .t4s-g-md-25,
  .t4s-gx-md-25,
  .t4s-px-md-25 {
    --ts-gutter-x: 25px;
  }
  .t4s-g-md-25,
  .t4s-gy-md-25 {
    --ts-gutter-y: 25px;
  }
  .t4s-g-md-30,
  .t4s-gx-md-30,
  .t4s-px-md-30 {
    --ts-gutter-x: 30px;
  }
  .t4s-g-md-30,
  .t4s-gy-md-30 {
    --ts-gutter-y: 30px;
  }
  .t4s-g-md-40,
  .t4s-gx-md-40,
  .t4s-px-md-40 {
    --ts-gutter-x: 40px;
  }
  .t4s-g-md-40,
  .t4s-gy-md-40 {
    --ts-gutter-y: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .t4s-g-lg-0,
  .t4s-gx-lg-0,
  .t4s-px-lg-0 {
    --ts-gutter-x: 0px;
  }
  .t4s-g-lg-0,
  .t4s-gy-lg-0 {
    --ts-gutter-y: 0px;
  }
  .t4s-g-lg-2,
  .t4s-gx-lg-2,
  .t4s-px-lg-2 {
    --ts-gutter-x: 2px;
  }
  .t4s-g-lg-2,
  .t4s-gy-lg-2 {
    --ts-gutter-y: 2px;
  }
  .t4s-g-lg-3,
  .t4s-gx-lg-3,
  .t4s-px-lg-3 {
    --ts-gutter-x: 3px;
  }
  .t4s-g-lg-3,
  .t4s-gy-lg-3 {
    --ts-gutter-y: 3px;
  }
  .t4s-g-lg-4,
  .t4s-gx-lg-4,
  .t4s-px-lg-4 {
    --ts-gutter-x: 4px;
  }
  .t4s-g-lg-4,
  .t4s-gy-lg-4 {
    --ts-gutter-y: 4px;
  }
  .t4s-g-lg-5,
  .t4s-gx-lg-5,
  .t4s-px-lg-5 {
    --ts-gutter-x: 5px;
  }
  .t4s-g-lg-5,
  .t4s-gy-lg-5 {
    --ts-gutter-y: 5px;
  }
  .t4s-g-lg-6,
  .t4s-gx-lg-6,
  .t4s-px-lg-6 {
    --ts-gutter-x: 6px;
  }
  .t4s-g-lg-6,
  .t4s-gy-lg-6 {
    --ts-gutter-y: 6px;
  }
  .t4s-g-lg-8,
  .t4s-gx-lg-8,
  .t4s-px-lg-8 {
    --ts-gutter-x: 8px;
  }
  .t4s-g-lg-8,
  .t4s-gy-lg-8 {
    --ts-gutter-y: 8px;
  }
  .t4s-g-lg-10,
  .t4s-gx-lg-10,
  .t4s-px-lg-10 {
    --ts-gutter-x: 10px;
  }
  .t4s-g-lg-10,
  .t4s-gy-lg-10 {
    --ts-gutter-y: 10px;
  }
  .t4s-g-lg-15,
  .t4s-gx-lg-15,
  .t4s-px-lg-15 {
    --ts-gutter-x: 15px;
  }
  .t4s-g-lg-15,
  .t4s-gy-lg-15 {
    --ts-gutter-y: 15px;
  }
  .t4s-g-lg-20,
  .t4s-gx-lg-20,
  .t4s-px-lg-20 {
    --ts-gutter-x: 20px;
  }
  .t4s-g-lg-20,
  .t4s-gy-lg-20 {
    --ts-gutter-y: 20px;
  }
  .t4s-g-lg-25,
  .t4s-gx-lg-25,
  .t4s-px-lg-25 {
    --ts-gutter-x: 25px;
  }
  .t4s-g-lg-25,
  .t4s-gy-lg-25 {
    --ts-gutter-y: 25px;
  }
  .t4s-g-lg-30,
  .t4s-gx-lg-30,
  .t4s-px-lg-30 {
    --ts-gutter-x: 30px;
  }
  .t4s-g-lg-30,
  .t4s-gy-lg-30 {
    --ts-gutter-y: 30px;
  }
  .t4s-g-lg-40,
  .t4s-gx-lg-40,
  .t4s-px-lg-40 {
    --ts-gutter-x: 40px;
  }
  .t4s-gy-lg-64 {
    --ts-gutter-y: 64px;
  }
}
