@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap");
:root {
  --ff: "Jost", sans-serif;
  --outfit: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #2d2d2f;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.25s linear;
}

/* overlay */
.t4s-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
}
/* topbar css */
.t4s-top-bar {
  background-color: #544179;
  height: 46px;
  color: #54fa06;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t4s-top-bar .t4s-top-bar_icon {
  width: 14px;
  height: 22px;
  margin-inline-end: 11px;
}
.t4s-top-bar .t4s-top-bar_content {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--ff);
}
.t4s-top-bar_content a {
  color: #fff;
  text-decoration: none;
}

/* header */
.t4s-header {
  /* box-shadow: 0px 1px 4px 0px #0000001a; */
  border-bottom: 1px solid #e6e6eb;
  background-color: #f8faff;
  position: relative;
}
.t4s-header .t4s-header-content {
  height: 100px;
}
.t4s-header ul {
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}
.t4s-header .t4s-menu-nav {
  display: flex;
  align-items: center;
  margin-inline-start: 18px;
}
.t4s-header ul li .t4s-nav_link {
  text-decoration: none;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--ff);
  color: #2d2d2f;
  transition: all 0.5s linear;
  text-underline-offset: 5px;
}
.t4s-header .t4s-menu-nav_content {
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0;
  transition: all 0.25s linear;
  min-width: 100vw;
  visibility: hidden;
  padding-bottom: 20px;
}
.t4s-menu-nav_content .t4s-nav-item_inner {
  box-shadow: 0 0 9px rgb(0 0 0 / 15%);
  padding-bottom: 1px;
}
.t4s-menu-nav_content .t4s-nav-item_img {
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
  transition: 0.25s linear;
}

.t4s-nav-item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.t4s-nav-item_img a {
  width: 100%;
  height: 100%;
  display: block;
}

.t4s-menu-nav_content .row {
  max-height: 65vh;
  overflow: auto;
  padding-bottom: 20px;
}
.t4s-menu-nav_content ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
.t4s-header ul li .t4s-nav_link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: -40px;
  left: 0;
  right: 0;
}
.t4s-menu-nav_inner .t4s-btn-viewall {
  margin-top: 15px;
}
.t4s-btn-viewall .t4s-btn {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 1;
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.t4s-nav-item_inner .t4s-nav-item_title {
  padding-bottom: 10px;
}
/* btn header */
.t4s-header .t4s-group-btn .t4s-btn-open_store,
.t4s-header .t4s-group-btn .t4s-btn-buy_now {
  min-width: 200px;
  min-height: 48px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  justify-content: center;
}
.t4s-header .t4s-group-btn .t4s-btn-open_store {
  margin-inline-end: 8px;
  background-color: #fff;
  border: 2px solid #544179;
  color: #544179;
}
.t4s-btn-open_store span {
  color: inherit;
}
.t4s-btn-open_store svg,
.t4s-btn-buy_now svg {
  margin-inline-end: 8px;
}
.t4s-header .t4s-group-btn .t4s-btn-buy_now {
  background-color: #2d2d2f;
  color: #fff;
}
.t4s-btn-buy_now .t4s-price {
  font-weight: 600;
}
/* section banner */
.t4s-hero-banner {
  display: block;
  overflow-x: hidden;
}
.t4s-hero-banner .t4s-hero-banner_inner {
  height: 934px;
  background-image: url("../img/layer/1-\ Hero\ Banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.t4s-hero-banner .t4s-hero-banner_inner .t4s-banner-content {
  position: absolute;
  top: 20%;
  left: 10%;
  /* pointer-events: none;
  user-select: none; */
}
.t4s-hero-banner .t4s-content-heading h3 {
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
  font-family: var(--ff);
  color: #2d2d2f;
  margin-bottom: 30px;
}
.t4s-hero-banner .t4s-content-subheading h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: var(--ff);
  color: #828c9e;
  margin-bottom: 56px;
}
.t4s-hero-banner .t4s-content-group_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.t4s-hero-banner .t4s-content-group_btn .t4s-banner-btn {
  min-width: 205px;
  min-height: 56px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  font-family: var(--ff);
}
.t4s-hero-banner .t4s-content-group_btn .t4s-open-store_free {
  background-color: #2d2d2f;
  color: #fff;
  margin-inline-end: 16px;
  justify-content: center;
}
.t4s-hero-banner .t4s-content-group_btn .t4s-open-store_free svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  margin-inline-end: 8px;
}
.t4s-hero-banner .t4s-content-group_btn .t4s-prebuild-demo {
  background-color: #fff;
  box-shadow: 4px 10px 32px 0px #00000026;
  color: #000;
  padding: 8px 8px 8px 32px;
}
.t4s-hero-banner .t4s-prebuild-demo .t4s-arrow_icon {
  width: 40px;
  height: 40px;
  background-color: #fb8500;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 12px;
}
.t4s-hero-banner .t4s-content-sale {
  background-color: #e6e6eb;
  border-radius: 100px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 0;
}
.t4s-hero-banner .t4s-content-sale p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  font-family: var(--ff);
  padding: 9px 16px;
  color: #39393c;
}
/* banner image */
.t4s-hero-banner .t4s-banner-image {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}
.t4s-hero-banner .t4s-layer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.t4s-hero-banner .t4s-layer1 {
  top: 2%;
  right: 9%;
}
.t4s-hero-banner .t4s-layer2 {
  bottom: 5%;
  right: 60%;
}
.t4s-hero-banner .t4s-layer3 {
  bottom: 8%;
  right: 17%;
}
.t4s-hero-banner .t4s-layer4 {
  bottom: 27%;
  right: 0;
}
/* section why choose cobis */

.t4s-why-choose-us .t4s-section-inner {
  padding-top: 104px;
  padding-bottom: 56px;
}
.t4s-why-choose-us .t4s-section-subheading {
  margin-bottom: 40px;
}
.t4s-why-choose-us .t4s-section-subheading h4 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
}
.t4s-why-choose-us .t4s-section-subheading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 0;
}
.t4s-why-choose-us .t4s-about-me .t4s-item-img {
  margin-bottom: 24px;
}
.t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-title {
  font-size: 16px;
  font-weight: 40;
  font-family: var(--ff);
  line-height: 18px;
  color: #828c9e;
  margin-bottom: 8px;
}
.t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-customer {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 24px;
  color: #544179;
  margin-bottom: 0;
}
/* section demo website */
/* heading */
.t4s-demo-website .t4s-section-inner {
  padding-bottom: 80px;
}
.t4s-demo-website .t4s-section-heading {
  padding-top: 112px;
  padding-bottom: 72px;
  padding-left: 15px;
  padding-right: 15px;
}
.t4s-demo-website .t4s-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 9px;
  z-index: 2;
  position: relative;
}
.t4s-demo-website .t4s-subheading h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 18px;
  color: #626264;
  z-index: 2;
  position: relative;
}
.t4s-demo-website .t4s-text-count-demo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #828c9e;
  font-size: 256px;
  font-weight: 700;
  font-family: var(--ff);
  line-height: 282px;
  z-index: 1;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* button group */
.t4s-demo-website .t4s-button-group-container {
  max-width: 865px;
}
.t4s-demo-website .t4s-button-group {
  list-style: none;
}
.t4s-demo-website .t4s-button-group::after {
  content: "";
}
.t4s-demo-website .t4s-button-group li:not(:last-child) {
  margin-inline-end: 8px;
}
.t4s-demo-website .t4s-button-group li {
  width: fit-content;
  padding: 0;
}
.t4s-demo-website .t4s-button-group .t4s-button-item {
  min-height: 48px;
  padding: 0 32px;
  outline: none;
  border: none;
  background-color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  border-radius: 100px;
}
.t4s-demo-website .t4s-button-group .t4s-button-item.is-checked {
  background-color: #2d2d2f;
  color: #fff;
}
.t4s-demo-website .flickity-prev-next-button {
  background-color: transparent;
}
.t4s-demo-website .flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none;
}
.t4s-demo-website .flickity-prev-next-button,
.t4s-review-pages .flickity-prev-next-button {
  width: 30px;
  height: 30px;
}
.t4s-review-pages .flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none;
}
/* isotope */
.t4s-demo-website .t4s-grid-pages {
  margin-top: 8px;
}
.t4s-demo-website .t4s-grid-pages .t4s-item-inner {
  padding: 10px;
  background-color: #fff;
  box-shadow: 4px 10px 32px 0px #00000026;
  border-radius: 12px;
}
.t4s-demo-website .t4s-grid-pages .t4s-item-img {
  border-radius: 6px;
  margin-bottom: 16px;
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 4s ease-in-out 0s;
}

.t4s-demo-website .t4s-item-inner .t4s-homepage-title p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 16px;
  color: #544179;
  margin-bottom: 8px;
}
/* reason to get cobis */
.t4s-reason-get_cobis .t4s-section-inner {
  padding-top: 56px;
  padding-bottom: 64px;
}
.t4s-reason-get_cobis .t4s-section-heading {
  padding: 0 15px;
  margin-bottom: -16px;
}
.t4s-reason-get_cobis .t4s-section-heading h4 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.t4s-reason-get_cobis .t4s-section-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 0;
}
.t4s-reason-get_cobis .t4s-item-inner {
  background-color: #f6faff;
  border-radius: 16px;
  padding-bottom: 26px;
  height: 100%;
  overflow: hidden;
}

.t4s-reason-get_cobis .t4s-item-inner .t4s-item-content {
  margin-top: 29px;
  padding: 0 15px;
}
.t4s-reason-get_cobis .t4s-item-inner .t4s-item-content h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 29px;
  color: #2d2d2f;
  margin-bottom: 8px;
}
.t4s-reason-get_cobis .t4s-item-inner .t4s-item-content h5 {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 22px;
  color: #626264;
  margin-bottom: 0;
}
.t4s-reason-get_cobis .t4s-col-special .t4s-item-inner {
  box-shadow: 0px 16px 36px rgba(27, 27, 29, 0.1);
}
.t4s-reason-get_cobis .t4s-col-special .t4s-item-special .t4s-item-content {
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}
.t4s-reason-get_cobis .t4s-item-special.t4s-item-inner .t4s-item-content h4 {
  color: #fff;
  margin-bottom: 24px;
}
.t4s-reason-get_cobis .t4s-item-special.t4s-item-inner .t4s-item-content h5 {
  color: #fff;
}
.t4s-reason-get_cobis.cobis2 .t4s-section-inner {
  padding-top: 0;
  padding-bottom: 104px;
}
/* section landing store */
.t4s-landing-store .t4s-item-img {
  background-repeat: no-repeat;
  background-size: cover;
}
.t4s-landing-store .t4s-section-inner {
  background-color: #1d1e2c;
  padding: 80px 0;
}
.t4s-landing-store .t4s-section-inner .t4s-col-left .t4s-item-inner {
  padding-left: 72px;
  padding-right: 153px;
  color: #fff;
}
.t4s-landing-store .t4s-item-inner .t4s-item-heading h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 48px;
  color: #fff;
  margin-bottom: 8px;
}
.t4s-landing-store .t4s-item-inner .t4s-rating {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.t4s-landing-store .t4s-item-inner .t4s-five-star {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline-end: 8px;
}
.t4s-landing-store .t4s-item-inner .t4s-five-star svg:not(:last-child) {
  margin-inline-end: 2px;
}
.t4s-landing-store .t4s-item-inner .t4s-rating .t4s-count-review {
  font-size: 13px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 19px;
  color: #8f8f94;
}
.t4s-landing-store .t4s-item-inner .t4s-item-content p {
  font-weight: 400;
  font-family: var(--ff);
  font-size: 18px;
  line-height: 27px;
  color: #d1d1d6;
  margin-bottom: 30px;
}
.t4s-landing-store .t4s-item-inner .t4s-register-store {
  display: flex;
  min-height: 56px;
  background-color: #fff;
  padding: 8px 8px 8px 0px;
  border-radius: 100px;
  align-items: center;
}
.t4s-landing-store .t4s-register-store .t4s-text-input {
  text-overflow: ellipsis;
  padding-left: 24px;
  outline: none;
  border: none;
  border-radius: 100px;
  flex: 1 0 auto;
  margin-inline-end: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 24px;
  color: #000;
  min-width: 120px;
}
.t4s-landing-store .t4s-register-store .t4s-text-input::placeholder {
  color: #aeaeb2;
}
.t4s-landing-store .t4s-register-store span {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 24px;
  color: #39393c;
  margin-inline-end: 8px;
}
.t4s-landing-store .t4s-register-store .t4s-btn-register {
  min-height: 40px;
  border-radius: 100px;
  background-color: #544179;
  display: inline-flex;
  align-items: center;
  padding: 11px 16px 11px 24px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 12px;
}
.t4s-landing-store .t4s-register-store .t4s-btn-register span {
  margin-inline-start: 10px;
}
/* section review pages */
.t4s-review-pages .t4s-section-inner {
  padding-top: 56px;
  padding-bottom: 80px;
  background-color: #1d1e2c;
}
.t4s-review-pages .t4s-button-group_rv {
  padding: 0 50px;
  margin-bottom: 32px;
}
.t4s-review-pages .t4s-button-group_rv::after {
  content: "";
}
.t4s-review-pages .t4s-button-group_rv li {
  width: fit-content;
  padding: 0;
}
.t4s-review-pages .t4s-section-heading {
  padding: 0 15px;
}
.t4s-review-pages .t4s-section-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #fff;
  margin-bottom: 16px;
}
.t4s-review-pages .t4s-section-heading h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 26px;
  color: #fff;
  margin-bottom: 32px;
}

.t4s-review-pages .t4s-btn-review {
  border: none;
  outline: none;
  min-height: 48px;
  border-radius: 100px;
  padding: 16px 32px;
  background-color: #27283d;
  color: #828c9e;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  transition: all 0.25s ease-in-out;
}
.t4s-review-pages .t4s-button-group_rv li:not(:last-child) {
  margin-inline-end: 8px;
}
.t4s-review-pages .t4s-btn-review.is-active {
  background-color: #fff;
  color: #2d2d2f;
}
.t4s-review-pages .t4s-slide-review .flickity-prev-next-button {
  visibility: hidden;
}
.t4s-review-pages .t4s-container-fluid {
  padding: 0 30px;
}
.t4s-review-pages .t4s-slide-review .t4s-item-img {
  overflow: hidden;
  margin-bottom: 24px;
}

.t4s-review-pages .t4s-slide-review .t4s-item-content a {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 22px;
  color: #fff;
  margin-bottom: 0;
}

.t4s-review-pages .t4s-slide-review {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}
.t4s-review-pages .t4s-slide-review.is-active {
  position: relative;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  top: unset;
  left: unset;
  right: unset;
}
.t4s-review-pages .t4s-slide-show {
  margin-bottom: 40px;
}
.t4s-review-pages .t4s-btn-purchase {
  min-width: 150px;
  min-height: 48px;
  border-radius: 100px;
  background-color: #54fa06;
  color: #2d2d2f;
  padding: 16px 32px;
  display: inline-flex;
  width: fit-content;
}
.t4s-exclusive-deal .t4s-section-inner {
  padding-top: 56px;
  padding-bottom: 0;
  background-color: #f6f6f6;
}
.t4s-exclusive-deal .t4s-section-heading h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.t4s-exclusive-deal .t4s-section-heading h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 42px;
}
.t4s-exclusive-deal .t4s-item-inner {
  padding-bottom: 50px;
}
.t4s-exclusive-deal .t4s-item-inner .t4s-item-content {
  padding: 0 15px;
}
.t4s-exclusive-deal .t4s-item-inner .t4s-item-content h4 {
  color: #544179;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--outfit);
  line-height: 29px;
  margin-bottom: 8px;
  margin-top: 24px;
}
.t4s-exclusive-deal .t4s-item-inner .t4s-item-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 22px;
  color: #626264;
  margin-bottom: 0;
}
.t4s-exclusive-deal .t4s-item-inner .t4s-item-thumbnail {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 10px 32px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background-color: #fff;
}
.t4s-exclusive-deal .t4s-item-inner .t4s-item-thumbnail .t4s-save-tag {
  top: -28px;
  right: -28px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background-color: #fb8500;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.t4s-exclusive-deal .t4s-item-thumbnail .t4s-save-tag {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--ff);
  line-height: 14px;
  margin: 0;
}
/* testimonial video */
.t4s-video-testimonial .t4s-section-inner {
  padding-top: 80px;
  padding-bottom: 65px;
}
.t4s-video-testimonial .t4s-section-heading h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.t4s-video-testimonial .t4s-section-heading h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 18px;
}
.t4s-video-testimonial .t4s-item-inner {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 100%;
  margin-bottom: 16px;
}
.t4s-video-testimonial .t4s-item-inner .t4s-frame {
  display: flex;
  background-color: #1d1e2c;
  padding: 24px;
}
.t4s-video-testimonial .t4s-item-inner .t4s-frame .t4s-thumbnail {
  margin-right: 24px;
}
.t4s-video-testimonial .t4s-frame .t4s-play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: rgba(45, 45, 47, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.t4s-video-testimonial .t4s-frame .t4s-chanel {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.t4s-video-testimonial .t4s-frame .t4s-chanel span {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--ff);
  line-height: 14px;
  color: #828c9e;
  text-transform: uppercase;
}
.t4s-video-testimonial .t4s-frame-content a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 29px;
}
.t4s-video-testimonial .t4s-frame-content .t4s-chanel-name {
  font-size: 13px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  color: #8f8f94;
  margin-bottom: 16px;
}
.t4s-video-testimonial .t4s-frame-content .t4s-chanel-description p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 22px;
  color: #fff;
  margin-bottom: 0;
}
.t4s-video-testimonial .t4s-item-content {
  padding: 24px;
}
.t4s-video-testimonial .t4s-item-content a {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 29px;
  color: #544179;
}
.t4s-video-testimonial .t4s-item-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 25px;
  color: #626264;
  margin-top: 8px;
  margin-bottom: 0;
}
.t4s-video-testimonial .flickity-button {
  border-radius: 0%;
  display: none;
}
.t4s-video-testimonial .flickity-page-dots {
  bottom: -16px;
}
.t4s-video-testimonial .flickity-page-dots button {
  position: relative;
  width: 8px;
  height: 8px;
  overflow: unset;
  margin: 0 12px;
}
.t4s-video-testimonial .flickity-page-dots button.is-selected::after {
  position: absolute;
  content: "";
  background-color: #bfbec8;
  top: calc(50% - 24px / 2);
  left: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  opacity: 0.4;
  border-radius: 100%;
}
.t4s-combo-deal .t4s-section-inner {
  padding-top: 64px;
  padding-bottom: 84px;
}
.t4s-combo-deal .t4s-section-heading h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.t4s-combo-deal .t4s-section-heading h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 58px;
}
.t4s-combo-deal .t4s-item-img {
  overflow: hidden;
}
.t4s-combo-deal .t4s-item-img2 {
  overflow: hidden;
}
.t4s-combo-deal .t4s-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.t4s-combo-deal .t4s-btn-group button {
  min-width: 216px;
  min-height: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 10px 32px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #2d2d2f;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  outline: none;
  border: none;
  margin-bottom: 30px;
}
.t4s-combo-deal .t4s-btn-group button.t4s-install-ec {
  background-color: #2d2d2f;
  color: #54fa06;
}
.t4s-combo-deal .t4s-two-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t4s-testimonial .t4s-section-inner {
  padding-top: 80px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}
.t4s-testimonial .t4s-section-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 8px;
}
.t4s-testimonial .t4s-section-heading h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 26px;
  color: #626264;
  margin-bottom: 72px;
}
.t4s-testimonial .t4s-item-inner {
  padding-bottom: 24px;
}
.t4s-testimonial .t4s-item-inner .t4s-item-content {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
  margin-bottom: 18px;
}
.t4s-testimonial .t4s-item-inner .t4s-item-content h4 {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 26px;
  color: #39393c;
  margin-bottom: 8px;
}
.t4s-testimonial .t4s-item-inner .t4s-item-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 25px;
  color: #626264;
  margin-bottom: 0;
}
.t4s-testimonial .t4s-item-content::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 24px;
  width: 18px;
  height: 18px;
  border-top: 10px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.t4s-testimonial .t4s-author {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.t4s-testimonial .t4s-author .t4s-author-img {
  border: 4px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin-inline-end: 12px;
}
.t4s-testimonial .t4s-author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.t4s-testimonial .t4s-author-info .t4s-author-name {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 22px;
  color: #39393c;
  margin-bottom: 8px;
}
.t4s-testimonial .flickity-page-dots {
  bottom: unset;
  top: -33px;
}
.t4s-testimonial .flickity-page-dots button {
  position: relative;
  width: 8px;
  height: 8px;
  overflow: unset;
  margin: 0 12px;
}
.t4s-testimonial .flickity-button {
  display: none;
}
.t4s-testimonial .flickity-page-dots button.is-selected::after {
  position: absolute;
  content: "";
  background-color: #bfbec8;
  top: calc(50% - 24px / 2);
  left: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  opacity: 0.4;
  border-radius: 100%;
}

@media (hover: hover) {
  .t4s-header ul li .t4s-nav_link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .t4s-header ul li:hover .t4s-menu-nav_content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .t4s-nav-item .t4s-nav-item_inner:hover .t4s-nav-item_img {
    transform: translateY(-20px);
  }
  .t4s-nav-item .t4s-nav-item_inner:hover .t4s-nav-item_title {
    color: #544179;
  }
  .t4s-demo-website .t4s-grid-pages .t4s-item-inner:hover .t4s-item-img {
    background-position: center 100%;
  }
}
@media screen and (max-width: 1920px) {
  .t4s-hero-banner .t4s-banner-image {
    left: 35%;
  }
}
@media screen and (max-width: 1740px) {
  .t4s-hero-banner .t4s-banner-image {
    left: 30%;
  }
}
@media screen and (max-width: 1600px) {
  .t4s-hero-banner .t4s-banner-image {
    left: 30%;
  }

  .t4s-hero-banner .t4s-hero-banner_inner .t4s-banner-content {
    left: 3%;
  }
}
@media screen and (max-width: 1440px) {
  .t4s-hero-banner .t4s-banner-image {
    display: none;
  }
  .t4s-hero-banner .t4s-hero-banner_inner .t4s-banner-content {
    left: 0;
    right: 0;
    text-align: center;
  }
  .t4s-hero-banner .t4s-content-group_btn {
    justify-content: center;
  }
  .t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-customer br {
    display: none;
  }
  .t4s-demo-website .t4s-section-inner {
    padding-bottom: 50px;
  }
  .t4s-reason-get_cobis .t4s-section-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .t4s-landing-store .t4s-item-inner .t4s-item-heading h3 {
    font-size: 30px;
  }
  .t4s-reason-get_cobis .t4s-section-heading {
    margin-bottom: 0;
  }
  .t4s-reason-get_cobis.cobis2 .t4s-section-inner {
    padding-bottom: 40px;
  }
  .t4s-exclusive-deal .t4s-item-inner .t4s-item-content {
    padding: 0;
  }
  .t4s-exclusive-deal .t4s-section-inner {
    padding-top: 40px;
  }
  .t4s-exclusive-deal .t4s-item-inner {
    padding-bottom: 40px;
  }
  .t4s-exclusive-deal .t4s-section-heading h4 {
    margin-bottom: 15px;
  }
  .t4s-combo-deal .t4s-item-img img,
  .t4s-combo-deal .t4s-item-img2 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1365px) {
  .t4s-landing-store .t4s-section-inner .t4s-col-left .t4s-item-inner {
    padding: 0;
  }
  .t4s-video-testimonial .t4s-frame-content a {
    font-size: 22px;
  }
  .t4s-video-testimonial .t4s-item-content a {
    font-size: 22px;
  }
  .t4s-video-testimonial .t4s-frame .t4s-chanel {
    margin-bottom: 0;
  }
  .t4s-video-testimonial .t4s-frame-content .t4s-chanel-description p {
    font-size: 14px;
  }
  .t4s-video-testimonial .t4s-item-content p {
    font-size: 16px;
  }
  .t4s-video-testimonial .t4s-section-inner {
    padding: 40px 0;
  }
  .t4s-combo-deal .t4s-section-inner {
    padding: 40px 0;
  }
  .t4s-combo-deal .t4s-section-heading h4 {
    margin-bottom: 15px;
  }
  .t4s-video-testimonial .t4s-section-heading h4 {
    margin-bottom: 0;
  }
  .t4s-testimonial .t4s-section-heading h5 {
    margin-bottom: 30px;
  }
  .t4s-testimonial .t4s-section-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .t4s-testimonial .flickity-page-dots {
    top: -20px;
  }
}
@media screen and (max-width: 1023px) {
  .t4s-hero-banner .t4s-content-heading h3 {
    font-size: 40px;
    line-height: 1;
  }
  .t4s-hero-banner .t4s-hero-banner_inner {
    height: unset;
  }
  .t4s-hero-banner .t4s-hero-banner_inner .t4s-banner-content {
    padding: 0 15px;
    position: unset;
    padding: 40px 0;
  }
  .t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-customer {
    font-size: 20px;
  }
  .t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-title {
    font-size: 15px;
  }
  .t4s-demo-website .t4s-section-heading {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .t4s-demo-website .t4s-text-count-demo {
    font-size: 180px;
  }
  .t4s-landing-store .row {
    flex-direction: column-reverse;
  }
  .t4s-landing-store .t4s-section-inner {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .t4s-reason-get_cobis .t4s-item-inner .t4s-item-content h4 {
    font-size: 20px;
  }
  .t4s-reason-get_cobis .t4s-item-inner .t4s-item-content h5 {
    font-size: 16px;
  }
  .t4s-reason-get_cobis .t4s-item-special.t4s-item-inner .t4s-item-content h4 {
    margin-bottom: 10px;
  }
  .t4s-testimonial .t4s-section-heading h3 {
    font-size: 30px;
  }
  .t4s-review-pages .t4s-section-heading h3 {
    font-size: 30px;
  }
  .t4s-why-choose-us .t4s-section-subheading h3 {
    font-size: 30px;
  }
  .t4s-demo-website .t4s-heading h3 {
    font-size: 30px;
  }
  .t4s-reason-get_cobis .t4s-section-heading h3 {
    font-size: 30px;
  }
  .t4s-exclusive-deal .t4s-section-heading h4 {
    font-size: 30px;
  }
  .t4s-video-testimonial .t4s-section-heading h4 {
    font-size: 30px;
  }
  .t4s-combo-deal .t4s-section-heading h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 990px) {
  .t4s-header-content .t4s-group-btn {
    margin-bottom: 10px;
  }
  .t4s-menu-nav .t4s-menu-nav_inner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: #fff;
    margin: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .t4s-logo .t4s-menu-nav_inner.active {
    transform: translateX(0);
  }

  .t4s-menu-nav .t4s-close-menu_nav {
    padding: 10px;
    margin-top: 20px;
  }
  .t4s-menu-nav_inner ul li {
    padding: 10px 20px;
  }
  .t4s-header ul li .t4s-nav_link::after {
    display: none;
  }

  .t4s-hero-banner .t4s-content-heading h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .t4s-hero-banner .t4s-content-subheading h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 850px) {
  .t4s-demo-website .t4s-button-group::after {
    content: "flickity";
    display: none;
  }
  .t4s-demo-website .t4s-button-group {
    padding: 0 50px;
  }
  .t4s-demo-website .t4s-section-inner {
    padding-bottom: 40px;
  }

  .t4s-reason-get_cobis .t4s-section-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .t4s-reason-get_cobis.cobis2 .t4s-section-inner {
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .t4s-header .t4s-group-btn .t4s-btn-open_store,
  .t4s-header .t4s-group-btn .t4s-btn-buy_now {
    min-width: 120px;
    min-height: 40px;
    font-size: 14px;
    padding: 0 20px;
  }
  .t4s-menu-nav .t4s-menu-nav_inner {
    width: 60%;
  }
  .t4s-banner-content br {
    display: none;
  }
  .t4s-hero-banner .t4s-content-group_btn .t4s-banner-btn {
    min-height: 48px;
    width: fit-content;
  }
  .t4s-hero-banner .t4s-content-group_btn .t4s-open-store_free {
    margin-inline-end: 0;
    margin-bottom: 10px;
  }
  .t4s-hero-banner .t4s-prebuild-demo .t4s-arrow_icon {
    width: 30px;
    height: 30px;
  }
  .t4s-hero-banner .t4s-content-group_btn {
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }
  .t4s-hero-banner .t4s-content-subheading h4 {
    line-height: 1.4;
  }
  .t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-customer {
    font-size: 18px;
  }
  .t4s-why-choose-us .t4s-section-subheading {
    margin-bottom: 10px;
  }
  .t4s-demo-website .t4s-button-group {
    padding: 0 50px;
  }
  .t4s-demo-website .t4s-subheading h4 br {
    display: none;
  }
  .t4s-demo-website .t4s-button-group .t4s-button-item {
    min-height: 40px;
  }

  .t4s-reason-get_cobis .t4s-section-heading {
    margin-bottom: 0;
  }
  .t4s-reason-get_cobis .t4s-item-inner .t4s-item-content h4 {
    font-size: 18px;
  }

  .t4s-landing-store .t4s-item-inner .t4s-item-content p {
    font-size: 16px;
  }
  .t4s-landing-store .t4s-item-inner .t4s-rating,
  .t4s-landing-store .t4s-item-inner .t4s-item-content p {
    margin-bottom: 10px;
  }
  .t4s-review-pages .t4s-section-heading h4 br {
    display: none;
  }
  .t4s-review-pages .t4s-section-inner {
    padding: 40px 0;
  }
  .t4s-exclusive-deal .t4s-item-inner .t4s-item-content h4 {
    font-size: 20px;
  }
  .t4s-exclusive-deal .t4s-item-inner .t4s-item-content p {
    font-size: 16px;
  }
  .t4s-exclusive-deal .t4s-item-inner {
    padding-bottom: 10px;
  }
  .t4s-combo-deal .t4s-two-img {
    justify-content: center;
  }
  .t4s-combo-deal .t4s-btn-group button {
    margin-bottom: 20px;
  }
  .t4s-testimonial .t4s-item-inner .t4s-item-content p {
    font-size: 14px;
  }
  .t4s-testimonial .t4s-item-inner .t4s-item-content h4 {
    font-size: 18px;
  }
  .t4s-testimonial .t4s-item-inner {
    padding-bottom: 0;
  }
  .t4s-combo-deal .t4s-btn-group button {
    font-size: 14px;
  }
  .t4s-exclusive-deal .t4s-section-heading h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 475px) {
  .t4s-landing-store .t4s-register-store span {
    display: none;
  }
  .t4s-review-pages .t4s-button-group_rv::after {
    content: "flickity";
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .t4s-header .t4s-group-btn .t4s-btn-open_store,
  .t4s-header .t4s-group-btn .t4s-btn-buy_now {
    min-width: 120px;
    min-height: 40px;
    font-size: 12px;
    padding: 0 10px;
  }
  .t4s-menu-nav .t4s-menu-nav_inner {
    width: 80%;
  }

  .t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-title {
    font-size: 12px;
  }
  .t4s-why-choose-us .t4s-about-me .t4s-item-content .t4s-data-customer {
    font-size: 15px;
  }
  .t4s-why-choose-us .t4s-section-inner {
    padding: 40px 0;
  }
  .t4s-demo-website .t4s-text-count-demo {
    font-size: 140px;
  }
  .t4s-demo-website .t4s-section-heading {
    padding: 30px 15px;
  }
  .t4s-reason-get_cobis
    .t4s-item-special.t4s-item-inner
    .t4s-item-content
    h5
    br {
    display: none;
  }
  .t4s-video-testimonial .t4s-frame-content .t4s-chanel-description p {
    display: none;
  }
  .t4s-video-testimonial .t4s-item-inner .t4s-frame .t4s-thumbnail {
    margin-right: 5px;
  }
  .t4s-video-testimonial .t4s-item-inner .t4s-frame {
    padding: 10px;
  }
  .t4s-video-testimonial .t4s-item-content a {
    font-size: 20px;
  }
  .t4s-video-testimonial .t4s-item-content p {
    font-size: 14px;
  }
  .t4s-video-testimonial .t4s-item-content {
    padding: 10px;
  }
  .t4s-video-testimonial .t4s-frame-content a {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .t4s-landing-store .t4s-register-store .t4s-text-input {
    flex: unset;
    padding-left: 16px;
  }
}
