@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
:root {
  --ff: "Jost", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #2d2d2f;
}
a {
  text-decoration: none;
  color: inherit;
}
/* overlay */
.t4s-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: none;
}
/* topbar css */
.t4s-top-bar {
  background-color: #544179;
  height: 46px;
  color: #54fa06;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t4s-top-bar .t4s-top-bar_icon {
  width: 14px;
  height: 22px;
  margin-inline-end: 11px;
}
.t4s-top-bar .t4s-top-bar_content {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--ff);
}
.t4s-top-bar_content a {
  color: #fff;
  text-decoration: none;
}

/* header */
.t4s-header {
  box-shadow: 0px 1px 4px 0px #0000001a;
  background-color: #f8faff;
}
.t4s-header .t4s-header-content {
  height: 100px;
}
.t4s-header ul {
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}
.t4s-header .t4s-menu-nav {
  display: flex;
  align-items: center;
  margin-inline-start: 18px;
}
.t4s-header ul li .t4s-nav_link {
  text-decoration: none;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--ff);
  color: #2d2d2f;
  transition: all 0.5s linear;
  text-underline-offset: 5px;
}
.t4s-header .t4s-menu-nav_content {
  top: 100%;
  left: 0;
  right: 0;
}
.t4s-menu-nav_content .t4s-nav-item_inner {
  box-shadow: 0 0 9px rgb(0 0 0 / 15%);
  padding-bottom: 1px;
}
.t4s-menu-nav_content .t4s-nav-item_img {
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
  transition: 0.25s linear;
}

.t4s-nav-item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.t4s-nav-item_img a {
  width: 100%;
  height: 100%;
  display: block;
}
.t4s-header .t4s-menu-nav_content {
  opacity: 0;
  transition: all 0.5s linear;
  min-width: 100vw;
  visibility: hidden;
}
.t4s-menu-nav_content .row {
  max-height: 45vh;
  overflow: auto;
  padding-bottom: 20px;
}
.t4s-menu-nav_content ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
.t4s-header ul li .t4s-nav_link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: -40px;
  left: 0;
  right: 0;
}
.t4s-menu-nav_inner .t4s-btn-viewall {
  margin-top: 15px;
}
.t4s-btn-viewall .t4s-btn {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 1;
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.t4s-nav-item_inner .t4s-nav-item_title {
  padding-bottom: 10px;
}
/* btn header */
.t4s-header .t4s-group-btn .t4s-btn-open_store,
.t4s-header .t4s-group-btn .t4s-btn-buy_now {
  min-width: 200px;
  min-height: 48px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  justify-content: center;
}
.t4s-header .t4s-group-btn .t4s-btn-open_store {
  margin-inline-end: 8px;
  background-color: #fff;
  border: 2px solid #544179;
  color: #544179;
}
.t4s-btn-open_store span {
  color: inherit;
}
.t4s-btn-open_store svg,
.t4s-btn-buy_now svg {
  margin-inline-end: 8px;
}
.t4s-header .t4s-group-btn .t4s-btn-buy_now {
  background-color: #2d2d2f;
  color: #fff;
}
.t4s-btn-buy_now .t4s-price {
  font-weight: 600;
}
@media (hover: hover) {
  .t4s-header ul li .t4s-nav_link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .t4s-header ul li:hover .t4s-menu-nav_content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .t4s-nav-item .t4s-nav-item_inner:hover .t4s-nav-item_img {
    transform: translateY(-20px);
  }
  .t4s-nav-item .t4s-nav-item_inner:hover .t4s-nav-item_title {
    color: #544179;
  }
}
@media screen and (max-width: 990px) {
  .t4s-header-content .t4s-group-btn {
    margin-bottom: 10px;
  }
  .t4s-menu-nav .t4s-menu-nav_inner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: #fff;
    margin: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .t4s-logo .t4s-menu-nav_inner.active {
    transform: translateX(0);
  }

  .t4s-menu-nav .t4s-close-menu_nav {
    padding: 10px;
    margin-top: 20px;
  }
  .t4s-menu-nav_inner ul li {
    padding: 10px 20px;
  }
  .t4s-header ul li .t4s-nav_link::after {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .t4s-header .t4s-group-btn .t4s-btn-open_store,
  .t4s-header .t4s-group-btn .t4s-btn-buy_now {
    min-width: 120px;
    min-height: 40px;
    font-size: 14px;
    padding: 0 20px;
  }
  .t4s-menu-nav .t4s-menu-nav_inner {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .t4s-header .t4s-group-btn .t4s-btn-open_store,
  .t4s-header .t4s-group-btn .t4s-btn-buy_now {
    min-width: 120px;
    min-height: 40px;
    font-size: 12px;
    padding: 0 10px;
  }
  .t4s-menu-nav .t4s-menu-nav_inner {
    width: 80%;
  }
}
