:root {
  --ff: "Jost", sans-serif;
  --outfit: "Outfit", sans-serif;
  --necko: "Nerko One", cursive;
  --cl-pr: #544179;
  --cl-sc: #34ba97;
  --text-cl-hv: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #2d2d2f;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.25s linear;
}
a:hover {
  color: var(--cl-sc);
}
/*back to top*/
.bee-back-to-top.is-active {
  opacity: 1;
  pointer-events: auto;
}
.bee-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.bee-back-to-top:hover {
  cursor: pointer;
}
/* overlay */
.bee-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}
/* topbar css */
.bee-top-bar {
  background-color: #544179;
  height: 46px;
  color: #54fa06;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bee-top-bar .bee-top-bar_icon {
  width: 14px;
  height: 22px;
  margin-inline-end: 11px;
}
.bee-top-bar .bee-top-bar_content {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--ff);
}
.bee-top-bar_content a {
  color: #fff;
  text-decoration: none;
}

/* header */
.bee-header {
  /* box-shadow: 0px 1px 4px 0px #0000001a; */
  border-bottom: 1px solid #e6e6eb;
  background-color: #f8faff;
  position: relative;
}
.bee-header .bee-container {
  max-width: 1440px;
  width: 100%;
}
.bee-header .bee-header-content {
  height: 100px;
}
.bee-header ul {
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}
.bee-header .bee-menu-nav {
  display: flex;
  align-items: center;
  margin-inline-start: 65px;
}
.bee-header ul li .bee-nav_link {
  text-decoration: none;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: var(--ff);
  color: #2d2d2f;
  transition: all 0.5s linear;
  text-underline-offset: 5px;
}
.bee-header .bee-menu-nav_content {
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  min-width: 100vw;
  visibility: hidden;
  padding-bottom: 20px;
}
.bee-menu-nav_content .bee-nav-item_inner {
  box-shadow: 0 0 9px rgb(0 0 0 / 15%);
  padding-bottom: 1px;
}
.bee-menu-nav_content .bee-nav-item_img {
  height: 200px;
  overflow: hidden;
  margin-bottom: 15px;
  transition: 0.25s linear;
}

.bee-nav-item_img img {
  width: 100%;
  object-position: top center;
  object-fit: cover;
}
.bee-nav-item_img a {
  width: 100%;
  height: 100%;
  display: block;
}

.bee-menu-nav_content .row {
  max-height: 65vh;
  overflow: auto;
  padding-bottom: 20px;
}
.bee-menu-nav_content ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}
.bee-header ul li .bee-nav_link::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: -40px;
  left: 0;
  right: 0;
}
.bee-menu-nav_inner .bee-btn-viewall {
  margin-top: 15px;
}
.bee-btn-viewall .bee-btn {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 1;
  text-decoration: none;
  color: #000;
  padding: 10px;
}
.bee-nav-item_inner .bee-nav-item_title {
  padding-bottom: 10px;
}
/* btn header */
.bee-header .bee-group-btn .bee-btn-open_store,
.bee-header .bee-group-btn .bee-btn-buy_now {
  min-width: 200px;
  min-height: 48px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  justify-content: center;
}
.bee-header .bee-group-btn .bee-btn-open_store {
  margin-inline-end: 4px;
  background-color: #fff;
  border: 2px solid #544179;
  color: #544179;
}
.bee-btn-open_store span {
  color: inherit;
}
.bee-btn-open_store svg,
.bee-btn-buy_now svg {
  margin-inline-end: 8px;
}
.bee-header .bee-group-btn .bee-btn-buy_now {
  background-color: #2d2d2f;
  color: #fff;
}
.bee-btn-buy_now .bee-price {
  font-weight: 600;
}
/* section banner */
.bee-hero-banner {
  display: block;
  overflow-x: hidden;
}
.bee-hero-banner .bee-hero-banner_inner {
  height: 934px;
  background-image: url("../img/layer/1-\ Hero\ Banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bee-hero-banner .bee-hero-banner_inner .bee-banner-content {
  position: absolute;
  top: 20%;
  left: 10%;
  /* pointer-events: none;
  user-select: none; */
}
.bee-hero-banner .bee-content-heading h3 {
  font-size: 64px;
  line-height: 70px;
  font-weight: 400;
  font-family: var(--ff);
  color: #2d2d2f;
  margin-bottom: 30px;
}
.bee-hero-banner .bee-content-subheading h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-family: var(--ff);
  color: #828c9e;
  margin-bottom: 16px;
}
.bee-hero-banner .bee-content-group_btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.bee-hero-banner .bee-content-group_btn .bee-banner-btn {
  min-width: 205px;
  min-height: 56px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  font-family: var(--ff);
}
.bee-hero-banner .bee-content-group_btn .bee-open-store_free {
  background-color: #2d2d2f;
  color: #fff;
  margin-inline-end: 16px;
  justify-content: center;
  text-transform: uppercase;
}
.bee-hero-banner .bee-content-group_btn .bee-open-store_free svg {
  width: 18px;
  height: 18px;
  fill: #fff;
  margin-inline-end: 8px;
}
.bee-hero-banner .bee-content-group_btn .bee-prebuild-demo {
  background-color: #fff;
  box-shadow: 4px 10px 32px 0px #00000026;
  color: #000;
  padding: 8px 8px 8px 32px;
}
.bee-hero-banner .bee-prebuild-demo .bee-arrow_icon {
  width: 40px;
  height: 40px;
  background-color: #fb8500;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 12px;
}
.bee-hero-banner .bee-content-sale {
  background-color: #e6e6eb;
  border-radius: 100px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 0;
}
.bee-hero-banner .bee-content-sale p {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  font-family: var(--ff);
  padding: 9px 16px;
  color: #39393c;
}
/* banner image */
.bee-hero-banner .bee-banner-image {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}
.bee-hero-banner .bee-layer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bee-hero-banner .bee-layer1 {
  top: 2%;
  right: 9%;
}
.bee-hero-banner .bee-layer2 {
  bottom: 5%;
  right: 60%;
}
.bee-hero-banner .bee-layer3 {
  bottom: 8%;
  right: 17%;
}
.bee-hero-banner .bee-layer4 {
  bottom: 27%;
  right: 0;
}
.bee-hero-banner .bee-developed-by {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.bee-hero-banner .bee-developed-by .bee-dev-img {
  margin-right: 10px;
}
.bee-hero-banner .bee-dev-content > * {
  font-size: 15px;
  line-height: 22px;
  font-family: var(--ff);
}
.bee-hero-banner .bee-dev-content span {
  font-weight: 400;
  color: #8f8f94;
}
.bee-hero-banner .bee-dev-content h4 {
  font-weight: 600;
  color: #2d2d2f;
}
/* section why choose cobis */

.bee-why-choose-us .bee-section-inner {
  padding-top: 104px;
  padding-bottom: 56px;
}
.bee-why-choose-us .bee-section-subheading {
  margin-bottom: 40px;
}
.bee-why-choose-us .bee-section-subheading h4 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
}
.bee-why-choose-us .bee-section-subheading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 0;
}
.bee-why-choose-us .bee-about-me .bee-item-img {
  margin-bottom: 24px;
}
.bee-why-choose-us .bee-about-me .bee-item-content .bee-data-title {
  font-size: 16px;
  font-weight: 40;
  font-family: var(--ff);
  line-height: 18px;
  color: #828c9e;
  margin-bottom: 8px;
}
.bee-why-choose-us .bee-about-me .bee-item-content .bee-data-customer {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 24px;
  color: #544179;
  margin-bottom: 0;
}
/* section demo website */
/* heading */
.bee-demo-website .bee-section-inner {
  padding-bottom: 80px;
}
.bee-demo-website .bee-section-heading {
  padding-top: 112px;
  padding-bottom: 72px;
  padding-left: 15px;
  padding-right: 15px;
}
.bee-demo-website .bee-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 9px;
  z-index: 2;
  position: relative;
}
.bee-demo-website .bee-subheading h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 18px;
  color: #626264;
  z-index: 2;
  position: relative;
}
.bee-demo-website .bee-text-count-demo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #828c9e;
  font-size: 256px;
  font-weight: 700;
  font-family: var(--ff);
  line-height: 282px;
  z-index: 1;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bee-demo-website .bee-text-count-demo sup {
  top: -50px;
  font-size: 160px;
}
/* button group */
.bee-demo-website .bee-button-group-container {
  max-width: 865px;
}
.bee-demo-website .bee-button-group {
  list-style: none;
}
.bee-demo-website .bee-button-group::after {
  content: "";
}
.bee-demo-website .bee-button-group li:not(:last-child) {
  margin-inline-end: 8px;
}
.bee-demo-website .bee-button-group li {
  width: fit-content;
  padding: 0;
}
.bee-demo-website .bee-button-group .bee-button-item {
  min-height: 48px;
  padding: 0 32px;
  outline: none;
  border: none;
  background-color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  border-radius: 100px;
  color: #8f8f94;
}
.bee-demo-website .bee-button-group .bee-button-item.is-checked {
  background-color: #2d2d2f;
  color: #fff;
}
.bee-demo-website .flickity-prev-next-button {
  background-color: transparent;
}
.bee-demo-website .flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none;
}
.bee-demo-website .flickity-prev-next-button,
.bee-review-pages .flickity-prev-next-button {
  width: 30px;
  height: 30px;
}
.bee-review-pages .flickity-prev-next-button:focus {
  outline: none;
  box-shadow: none;
}
/* isotope */
.bee-demo-website .bee-grid-pages {
  margin-top: 8px;
}
.bee-demo-website .bee-grid-pages .bee-item-inner {
  padding: 10px;
  background-color: #fff;
  box-shadow: 4px 10px 32px 0px #00000026;
  border-radius: 12px;
}
.bee-demo-website .bee-grid-pages .bee-item-img {
  border-radius: 6px;
  margin-bottom: 16px;
  background-position: center 0%;
  background-repeat: no-repeat;
  transition: background-position 4s ease-in-out 0s;
  background-size: cover;
}

.bee-demo-website .bee-item-inner .bee-homepage-title p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 16px;
  color: #544179;
  margin-bottom: 8px;
}
/* reason to get cobis */
.bee-reason-get_cobis .bee-section-inner {
  padding-top: 56px;
  padding-bottom: 64px;
}
.bee-reason-get_cobis.cobis3 .bee-section-inner {
  padding-bottom: 76px;
}
.bee-reason-get_cobis .bee-section-heading {
  padding: 0 15px;
  margin-bottom: 18px;
}
.bee-reason-get_cobis .bee-section-heading h4 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.bee-reason-get_cobis .bee-section-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 0;
}
.bee-reason-get_cobis.cobis3 .bee-section-heading h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 26px;
  color: #626264;
  margin-bottom: 18px;
}
.bee-reason-get_cobis .bee-item-inner {
  background-color: #f6faff;
  border-radius: 16px;
  padding-bottom: 26px;
  height: 100%;
  overflow: hidden;
}

.bee-reason-get_cobis .bee-item-inner .bee-item-content {
  margin-top: 29px;
  padding: 0 25px;
}
.bee-reason-get_cobis .bee-item-inner .bee-item-content h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 29px;
  color: #2d2d2f;
  margin-bottom: 8px;
}
.bee-reason-get_cobis .bee-item-inner .bee-item-content h5 {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 22px;
  color: #626264;
  margin-bottom: 0;
}
.bee-reason-get_cobis .bee-col-special .bee-item-inner {
  box-shadow: 0px 16px 36px rgba(27, 27, 29, 0.1);
}
.bee-reason-get_cobis .bee-item-special {
  min-height: 350px;
}
.bee-reason-get_cobis .bee-col-special .bee-item-special .bee-item-content {
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  width: fit-content;
  height: fit-content;
}
.bee-reason-get_cobis .bee-item-special.bee-item-inner .bee-item-content h4 {
  color: #fff;
  margin-bottom: 24px;
}
.bee-reason-get_cobis .bee-item-special.bee-item-inner .bee-item-content h5 {
  color: #fff;
}
.bee-reason-get_cobis.cobis2 .bee-section-inner {
  padding-top: 34px;
  padding-bottom: 56px;
}
.bee-reason-get_cobis .bee-item-inner .bee-item-img[data-height="364"] {
  max-height: 364px;
}

.bee-reason-get_cobis.cobis3 .bee-section-heading h3 {
  margin-bottom: 8px;
}
.bee-reason-get_cobis.cobis3 .t4s_ratioadapt {
  --aspect-ratioapt: 1.335311572700297;
}
.bee-reason-get_cobis.cobis3 .bee-item-inner {
  background-color: transparent;
}
.bee-reason-get_cobis.cobis3 .bee-item-inner .bee-item-content {
  padding: 0 25px;
}
/* section landing store */
.bee-landing-store .bee-item-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
.bee-landing-store .bee-section-inner {
  background-color: #1d1e2c;
  padding-top: 50px;
  padding-bottom: 80px;
}
.bee-landing-store .bee-section-inner .bee-col-left .bee-item-inner {
  padding-left: 72px;
  padding-right: 0;
  color: #fff;
}
.bee-landing-store .bee-item-inner .bee-item-heading h3 {
  font-size: 40px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 48px;
  color: #fff;
  margin-bottom: 8px;
}
.bee-landing-store .bee-item-inner .bee-rating {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.bee-landing-store .bee-item-inner .bee-five-star {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline-end: 8px;
}
.bee-landing-store .bee-item-inner .bee-five-star svg:not(:last-child) {
  margin-inline-end: 2px;
}
.bee-landing-store .bee-item-inner .bee-rating .bee-count-review {
  font-size: 13px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 19px;
  color: #8f8f94;
}
.bee-landing-store .bee-item-inner .bee-item-content p {
  font-weight: 400;
  font-family: var(--ff);
  font-size: 18px;
  line-height: 27px;
  color: #d1d1d6;
  margin-bottom: 30px;
}
.bee-landing-store .bee-item-inner .bee-register-store {
  display: flex;
  min-height: 56px;
  background-color: #fff;
  padding: 8px 8px 8px 0px;
  border-radius: 100px;
  align-items: center;
  max-width: 400px;
}
.bee-landing-store .bee-register-store .bee-text-input {
  text-overflow: ellipsis;
  padding-left: 24px;
  outline: none;
  border: none;
  border-radius: 100px;
  flex: 1 0 auto;
  margin-inline-end: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 24px;
  color: #000;
  max-width: 150px;
}
.bee-landing-store .bee-register-store .bee-text-input::placeholder {
  color: #aeaeb2;
}
.bee-landing-store .bee-register-store span {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 24px;
  color: #39393c;
  margin-inline-end: 8px;
}
.bee-landing-store .bee-register-store .bee-btn-register {
  min-height: 40px;
  border-radius: 100px;
  background-color: #544179;
  display: inline-flex;
  align-items: center;
  padding: 11px 16px 11px 24px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 12px;
}
.bee-landing-store .bee-register-store .bee-btn-register span {
  margin-inline-start: 10px;
}
.bee-landing-store .bee-store-svg {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.bee-landing-store .bee-svg-item1 {
  bottom: -15%;
  left: -3%;
  max-width: 320px;
  position: absolute;
}
.bee-landing-store .bee-svg-item2 {
  top: -12%;
  right: 6%;
  max-width: 193px;
  max-height: 243px;
  position: absolute;
}
/* section review pages */
.bee-review-pages .bee-section-inner {
  padding-top: 56px;
  padding-bottom: 80px;
  background-color: #1d1e2c;
}
.bee-review-pages .bee-button-group_rv {
  padding: 0 50px;
  margin-bottom: 32px;
}
.bee-review-pages .bee-button-group_rv::after {
  content: "";
}
.bee-review-pages .bee-button-group_rv li {
  width: fit-content;
  padding: 0;
}
.bee-review-pages .bee-section-heading {
  padding: 0 15px;
}
.bee-review-pages .bee-section-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #fff;
  margin-bottom: 16px;
}
.bee-review-pages .bee-section-heading h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 26px;
  color: #fff;
  margin-bottom: 32px;
}

.bee-review-pages .bee-btn-review {
  border: none;
  outline: none;
  min-height: 48px;
  border-radius: 100px;
  padding: 16px 32px;
  background-color: #27283d;
  color: #828c9e;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  transition: all 0.25s ease-in-out;
}
.bee-review-pages .bee-button-group_rv li:not(:last-child) {
  margin-inline-end: 8px;
}
.bee-review-pages .bee-btn-review.is-active {
  background-color: #fff;
  color: #2d2d2f;
}
.bee-review-pages .bee-slide-review .flickity-prev-next-button {
  visibility: hidden;
}

.bee-review-pages .bee-slide-review .bee-item-img {
  overflow: hidden;
  margin-bottom: 24px;
}

.bee-review-pages .bee-slide-review .bee-item-content a {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 22px;
  color: #fff;
  margin-bottom: 0;
}

.bee-review-pages .bee-slide-review {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  transform: translateY(35px);
  pointer-events: none;
  transition: all 0.4s linear;
  margin: 0;
  opacity: 0;
}
.bee-review-pages .bee-slide-review.is-active {
  position: relative;
  visibility: visible;
  height: fit-content;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  top: unset;
  left: unset;
  right: unset;
}
.bee-review-pages .bee-slide-show {
  margin-bottom: 40px;
}
.bee-review-pages .bee-btn-purchase {
  min-width: 150px;
  min-height: 48px;
  border-radius: 100px;
  background-color: #54fa06;
  color: #2d2d2f;
  padding: 16px 32px;
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.bee-review-pages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bee-exclusive-deal .bee-section-inner {
  padding-top: 56px;
  padding-bottom: 0;
  background-color: #f6f6f6;
}
.bee-exclusive-deal .bee-section-heading h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.bee-exclusive-deal .bee-section-heading h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 42px;
}
.bee-exclusive-deal .bee-item-inner {
  padding-bottom: 50px;
}
.bee-exclusive-deal .bee-item-inner .bee-item-content {
  padding: 0 15px;
}
.bee-exclusive-deal .bee-item-inner .bee-item-content h4 {
  color: #544179;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--outfit);
  line-height: 29px;
  margin-bottom: 8px;
  margin-top: 24px;
}
.bee-exclusive-deal .bee-item-inner .bee-item-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 22px;
  color: #626264;
  margin-bottom: 0;
}
.bee-exclusive-deal .bee-item-inner .bee-item-thumbnail {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 10px 32px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background-color: #fff;
}
.bee-exclusive-deal .bee-item-inner .bee-item-thumbnail .bee-save-tag {
  top: -28px;
  right: -28px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background-color: #fb8500;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.bee-exclusive-deal .bee-item-thumbnail .bee-save-tag {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--ff);
  line-height: 14px;
  margin: 0;
}
/* testimonial video */
section.bee-video-testimonial {
  display: none;
}
.bee-video-testimonial .bee-section-inner {
  padding-top: 80px;
  padding-bottom: 65px;
}
.bee-video-testimonial .bee-section-heading h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.bee-video-testimonial .bee-section-heading h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 18px;
}
.bee-video-testimonial .bee-item-inner {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  height: 100%;
  margin-bottom: 32px;
}
.bee-video-testimonial .bee-item-inner .bee-frame {
  display: flex;
  background-color: #1d1e2c;
  padding: 24px;
}
.bee-video-testimonial .bee-item-inner .bee-frame .bee-thumbnail {
  margin-right: 24px;
  border-radius: 4px;
  border: 2px solid #fff;
  width: 150px;
  height: 222px;
  overflow: hidden;
  flex: 0 0 auto;
}
.bee-video-testimonial .bee-item-inner .bee-frame .bee-thumbnail a > img {
  border-radius: 4px;
}
.bee-video-testimonial .bee-frame .bee-play-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: rgba(45, 45, 47, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.bee-video-testimonial .bee-frame .bee-chanel {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.bee-video-testimonial .bee-frame .bee-chanel span {
  font-size: 12px;
  font-weight: 600;
  font-family: var(--ff);
  line-height: 14px;
  color: #828c9e;
  text-transform: uppercase;
}
.bee-video-testimonial .bee-frame-content a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 29px;
}
.bee-video-testimonial .bee-frame-content .bee-chanel-name {
  font-size: 13px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  color: #8f8f94;
  margin-bottom: 16px;
}
.bee-video-testimonial .bee-frame-content .bee-chanel-description p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 22px;
  color: #fff;
  margin-bottom: 0;
}
.bee-video-testimonial .bee-item-content {
  padding: 24px;
}
.bee-video-testimonial .bee-item-content a {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 29px;
  color: #544179;
}
.bee-video-testimonial .bee-item-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 25px;
  color: #626264;
  margin-top: 8px;
  margin-bottom: 0;
}
.bee-video-testimonial .flickity-button {
  border-radius: 0%;
  display: none;
}
.bee-video-testimonial .flickity-page-dots {
  bottom: -16px;
}
.bee-video-testimonial .flickity-page-dots button {
  position: relative;
  width: 8px;
  height: 8px;
  overflow: unset;
  margin: 0 12px;
}
.bee-video-testimonial .flickity-page-dots button.is-selected::after {
  position: absolute;
  content: "";
  background-color: #bfbec8;
  top: calc(50% - 24px / 2);
  left: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  opacity: 0.4;
  border-radius: 100%;
}
.bee-combo-deal .bee-section-inner {
  padding-top: 64px;
  padding-bottom: 0;
}
.bee-combo-deal .bee-section-heading h5 {
  font-size: 15px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 17px;
  color: #828c9e;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.bee-combo-deal .bee-section-heading h4 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 0;
}
.bee-combo-deal .bee-section-heading {
  margin-bottom: 50px;
}
.bee-combo-deal .bee-box-content {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../img/combo-deal/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.bee-combo-deal .bee-box-circle {
  margin-inline-end: 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bee-combo-deal .bee-box-circle .bee-box-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bee-combo-deal .bee-box-content .bee-box-open_store .bee-box-heading {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.bee-combo-deal .bee-box-content .bee-box-open_store .bee-box-heading svg {
  margin-inline-end: 8px;
}
.bee-combo-deal .bee-box-content .bee-box-open_store .bee-box-heading span {
  color: #8f8f94;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--ff);
}
.bee-combo-deal .bee-box-content .bee-box-open_store h4 {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--ff);
  line-height: 44px;
  color: #39393c;
  margin-bottom: 24px;
}
.bee-combo-deal .bee-box-content a {
  border-radius: 24px;
  min-height: 48px;
  min-width: 216px;
  padding: 0 31px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bee-combo-deal .bee-box-content .bee-open-store {
  border: 2px solid #39393c;
  background-color: #fff;
  color: #39393c;
}
.bee-combo-deal .bee-box-content .bee-box-group_btn {
  display: flex;
  flex-direction: column;
}
.bee-combo-deal .bee-box-content .bee-box-open_store {
  margin-right: 170px;
}
.bee-combo-deal .bee-box-content .bee-box-group_btn .bee-buy-cobis {
  box-shadow: 4px 10px 32px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #39393c;
  margin-bottom: 24px;
}
.bee-combo-deal .bee-box-content .bee-box-group_btn .bee-install-ecom {
  background-color: #2d2d2f;
  color: #54fa06;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.bee-combo-deal .bee-box-content .bee-box-group_btn span {
  margin-right: 8px;
}
.bee-combo-deal .bee-box-content .bee-box-circle-inner {
  animation-name: spins;
  animation-duration: 15s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.bee-combo-deal .bee-box-content .bee-box-circle-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bee-combo-deal .bee-box-circle {
  pointer-events: none;
  user-select: none;
}
/* testimonial */
.bee-testimonial .bee-section-inner {
  padding-top: 80px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}
.bee-testimonial .bee-section-heading h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 35px;
  color: #2d2d2f;
  margin-bottom: 8px;
}
.bee-testimonial .bee-section-heading h5 {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 26px;
  color: #626264;
  margin-bottom: 72px;
}
.bee-testimonial .bee-item-inner {
  padding-bottom: 24px;
}
.bee-testimonial .bee-item-inner .bee-item-content {
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.1));
  margin-bottom: 18px;
}
.bee-testimonial .bee-item-inner .bee-item-content h4 {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 26px;
  color: #39393c;
  margin-bottom: 8px;
}
.bee-testimonial .bee-item-inner .bee-item-content p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff);
  line-height: 25px;
  color: #626264;
  margin-bottom: 0;
}
.bee-testimonial .bee-item-content::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 24px;
  width: 18px;
  height: 18px;
  border-top: 10px solid #fff;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.bee-testimonial .bee-author {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
.bee-testimonial .bee-author .bee-author-img {
  border: 4px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin-inline-end: 12px;
}
.bee-testimonial .bee-author-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bee-testimonial .bee-author-info .bee-author-name {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 22px;
  color: #39393c;
  margin-bottom: 5px;
}
.bee-testimonial .flickity-page-dots {
  bottom: unset;
  top: -33px;
}
.bee-testimonial .flickity-page-dots button {
  position: relative;
  width: 8px;
  height: 8px;
  overflow: unset;
  margin: 0 12px;
}
.bee-testimonial .flickity-button {
  display: none;
}
.bee-testimonial .flickity-page-dots button.is-selected::after {
  position: absolute;
  content: "";
  background-color: #bfbec8;
  top: calc(50% - 24px / 2);
  left: calc(50% - 24px / 2);
  width: 24px;
  height: 24px;
  opacity: 0.4;
  border-radius: 100%;
}

.bee-customer-support .bee-section-inner {
  padding-top: 50px;
  padding-bottom: 80px;
}
.bee-customer-support .bee-heading {
  height: 100%;
}
.bee-customer-support .bee-heading h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
  font-family: var(--ff);
  color: #2d2d2f;
  margin-bottom: 24px;
}
.bee-customer-support .bee-heading h4 {
  line-height: 26px;
  color: #626264;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff);
}
.bee-customer-support .bee-box {
  min-height: 224px;
  max-width: 240px;
  background-color: #fff;
  box-shadow: 4px 10px 32px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 24px 24px 16px;
}
.bee-customer-support .bee-box:not(:last-child) {
  margin-right: 30px;
}
.bee-customer-support .bee-item-img {
  margin-bottom: 13px;
}
.bee-customer-support .bee-content {
  padding-left: 20px;
}
.bee-customer-support .bee-box span {
  font-size: 22px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 26px;
  color: #39393c;
  margin: 0;
}
.bee-hurry-up .bee-section-inner {
  padding-top: 160px;
  padding-bottom: 136px;
  background-image: url("../img/hurry-up/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bee-hurry-up .bee-section-inner h3 {
  font-size: 48px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 53px;
  color: #fff;
  margin-bottom: 0;
}
.bee-hurry-up .bee-section-inner h3 span {
  color: #54fa06;
}
.bee-hurry-up .bee-features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.bee-hurry-up .bee-features-box .bee-box-item {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.bee-hurry-up .bee-features-box .bee-box-item:not(:last-child) {
  margin-right: 32px;
}
.bee-hurry-up .bee-features-box .bee-box-item svg {
  margin-right: 8px;
}
.bee-hurry-up .bee-features-box .bee-box-item span {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 16px;
  color: #fff;
}
.bee-hurry-up .bee-btn-purchase {
  display: inline-flex;
  min-height: 56px;
  border-radius: 100px;
  background-color: #b594f5;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 17px 32px;
  color: #fff;
}
.bee-hurry-up .bee-btn-purchase svg {
  margin-inline-end: 16px;
}
.bee-hurry-up .bee-btn-purchase .bee-btn-price {
  display: inline-flex;
  align-items: center;
  min-height: 36px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  font-family: var(--ff);
  color: #39393c;
  padding: 0 16px;
  background-color: #ffffff;
  border-radius: 100px;
  margin-left: 16px;
}
.bee-hurry-up .bee-group-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.bee-hurry-up .bee-btn-purchase .bee-btn-price del {
  color: #aeaeb2;
  margin-left: 8px;
}
.bee-hurry-up .bee-open-free {
  min-height: 56px;
  margin-left: 24px;
  border: 2px solid #b594f5;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--ff);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #b594f5;
  min-width: 211px;
}
/* footer */
.bee-footer-bottom .bee-section-inner {
  padding: 22px 85px;
  background-color: #f8f8f8;
}

.bee-footer-bottom .bee-copy-right {
  font-size: 13px;
  font-weight: 500;
  font-family: var(--ff);
  line-height: 19px;
  margin: 0;
}
.bee-footer-bottom ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bee-footer-bottom ul li:not(:last-child) {
  margin-right: 40px;
}
.bee-footer-bottom ul li a {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--ff);
  line-height: 22px;
  margin: 0;
}
/* add css */
.bee-reason-get_cobis.cobis3 img {
  object-fit: contain;
}
/* sticky bar */
.bee-sticky-bar {
  position: fixed;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  z-index: 2;
}
.bee-sticky-bar .bee-sticky-bar_btn {
  padding: 10px 15px;
  background-color: var(--cl-pr);
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.bee-sticky-bar .bee-sticky-bar_btn .span1 {
  font-weight: 400;
  margin-right: 5px;
}
.bee-sticky-bar svg {
  width: 15px;
  height: 15px;
}
@media (hover: hover) {
  .bee-combo-deal .bee-box-content .bee-open-store:hover {
    background-color: var(--cl-pr);
    border-color: var(--cl-pr);
    color: #fff;
  }
  .bee-hurry-up .bee-open-free:hover {
    background-color: var(--cl-pr);
    color: var(--text-cl-hv);
    border-color: var(--cl-pr);
  }

  .bee-combo-deal .bee-box-content .bee-box-group_btn a:hover {
    background-color: var(--cl-pr);
    border-color: var(--cl-pr);
    color: #fff;
  }
  .bee-sticky-bar .bee-sticky-bar_btn:hover {
    background-color: var(--cl-pr);
    color: var(--text-cl-hv);
  }
  .bee-hurry-up .bee-btn-purchase:hover {
    background-color: var(--cl-pr);
    color: #fff;
  }
  .bee-video-testimonial .bee-item-content a:hover {
    color: var(--cl-sc);
  }
  .bee-video-testimonial .bee-frame-content a:hover {
    color: var(--cl-sc);
  }
  .bee-review-pages .bee-btn-purchase:hover {
    background-color: var(--cl-sc);
    color: #fff;
  }
  .bee-review-pages .bee-slide-review .bee-item-content a:hover {
    color: var(--cl-sc);
  }
  .bee-landing-store .bee-register-store .bee-btn-register:hover {
    background-color: var(--cl-sc);
    color: #fff;
  }
  .bee-hero-banner .bee-content-group_btn .bee-prebuild-demo:hover {
    background-color: var(--cl-sc);
    color: var(--text-cl-hv);
  }
  .bee-hero-banner .bee-content-group_btn .bee-open-store_free:hover {
    background-color: var(--cl-sc);
  }
  .bee-header .bee-group-btn .bee-btn-open_store:hover {
    background-color: var(--cl-pr);
    border-color: var(--cl-pr);
    color: var(--text-cl-hv);
  }
  .bee-header .bee-group-btn .bee-btn-buy_now:hover {
    background-color: var(--cl-pr);
  }
  .bee-header ul li .bee-nav_link:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .bee-header ul li:hover .bee-menu-nav_content {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .bee-nav-item .bee-nav-item_inner:hover .bee-nav-item_img {
    transform: translateY(-10px);
  }
  .bee-nav-item .bee-nav-item_inner:hover .bee-nav-item_title {
    color: #544179;
  }
  .bee-demo-website .bee-grid-pages .bee-item-inner:hover .bee-item-img {
    background-position: center 100%;
  }
}
@media screen and (max-width: 1920px) {
  .bee-hero-banner .bee-banner-image {
    left: 35%;
  }
}
@media screen and (max-width: 1850px) {
  .bee-hero-banner .bee-banner-image {
    left: 32%;
  }
}
@media screen and (max-width: 1740px) {
  .bee-hero-banner .bee-banner-image {
    left: 27%;
  }
  .bee-landing-store .bee-store-svg {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .bee-landing-store .bee-section-inner .bee-col-left .bee-item-inner {
    padding: 0;
  }
  .bee-customer-support .bee-content {
    padding-left: 0;
  }
  .bee-hero-banner .bee-banner-image {
    left: 25%;
    right: -5%;
  }
  .bee-customer-support .bee-box {
    margin: 15px !important;
  }

  .bee-hero-banner .bee-hero-banner_inner .bee-banner-content {
    left: 3%;
  }
}

@media screen and (max-width: 1440px) {
  .bee-hero-banner .bee-developed-by {
    justify-content: center;
  }
  .bee-combo-deal .bee-box-content .bee-box-group_btn .bee-open-store {
    margin-inline-end: 16px;
  }
  .bee-hero-banner .bee-hero-banner_inner {
    height: 750px;
  }
  .bee-header .bee-menu-nav {
    margin-inline-start: 20px;
  }
  .bee-customer-support .bee-section-inner {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .bee-testimonial .bee-section-inner {
    padding: 50px 0;
  }
  .bee-combo-deal .bee-section-inner {
    padding-top: 50px;
  }
  .bee-video-testimonial .bee-section-inner {
    padding: 50px 0;
  }
  .bee-review-pages .bee-section-inner {
    padding: 50px 0;
  }
  .bee-landing-store .bee-section-inner {
    padding: 50px 0;
  }
  .bee-why-choose-us .bee-section-inner {
    padding: 50px 0;
  }
  .bee-hero-banner .bee-banner-image {
    display: none;
  }
  .bee-hero-banner .bee-banner-image .bee-layer1 {
    width: 50%;
  }
  .bee-hero-banner .bee-banner-image .bee-layer2 {
    width: 20%;
  }
  .bee-hero-banner .bee-banner-image .bee-layer3 {
    width: 30%;
  }
  .bee-hero-banner .bee-banner-image .bee-layer4 {
    width: 20%;
  }
  .bee-hero-banner .bee-banner-image .bee-layer5 {
    width: 20%;
  }
  .bee-hero-banner .bee-hero-banner_inner .bee-banner-content {
    left: 0;
    right: 0;
    text-align: center;
  }
  .bee-hero-banner .bee-content-group_btn {
    justify-content: center;
  }
  .bee-why-choose-us .bee-about-me .bee-item-content .bee-data-customer br {
    display: none;
  }
  .bee-demo-website .bee-section-inner {
    padding-bottom: 50px;
  }
  .bee-reason-get_cobis .bee-section-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bee-reason-get_cobis.cobis3 .bee-section-inner {
    padding-bottom: 50px;
  }

  .bee-landing-store .bee-item-inner .bee-item-heading h3 {
    font-size: 30px;
  }
  .bee-reason-get_cobis .bee-section-heading {
    margin-bottom: 0;
  }
  .bee-reason-get_cobis.cobis2 .bee-section-inner {
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .bee-exclusive-deal .bee-item-inner .bee-item-content {
    padding: 0;
  }
  .bee-exclusive-deal .bee-section-inner {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .bee-exclusive-deal .bee-item-inner {
    padding-bottom: 40px;
  }
  .bee-exclusive-deal .bee-section-heading h4 {
    margin-bottom: 15px;
  }
  .bee-customer-support .bee-heading h3 br,
  .bee-customer-support .bee-heading h4 br {
    display: none;
  }
  .bee-customer-support .bee-heading {
    margin-left: 0;
  }
  .bee-footer-bottom ul li:not(:last-child) {
    margin-right: 25px;
  }
  .bee-footer-bottom ul li a {
    font-size: 13px;
  }
}
@media screen and (max-width: 1365px) {
  .bee-hero-banner .bee-developed-by {
    margin-bottom: 40px;
  }
  .bee-combo-deal .bee-section-heading {
    margin-bottom: 40px;
  }
  .bee-combo-deal .bee-box-content .bee-box-group_btn a:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 0;
  }
  .bee-reason-get_cobis.cobis3 .bee-item-inner .bee-item-content {
    padding: 0;
  }
  .bee-landing-store .bee-section-inner .bee-col-left .bee-item-inner {
    padding: 0;
  }
  .bee-video-testimonial .bee-frame-content a {
    font-size: 22px;
  }
  .bee-video-testimonial .bee-item-content a {
    font-size: 22px;
  }
  .bee-video-testimonial .bee-frame .bee-chanel {
    margin-bottom: 0;
  }
  .bee-video-testimonial .bee-frame-content .bee-chanel-description p {
    font-size: 14px;
  }
  .bee-video-testimonial .bee-item-content p {
    font-size: 16px;
  }
  .bee-video-testimonial .bee-section-inner {
    padding: 40px 0;
  }
  .bee-combo-deal .bee-section-inner {
    padding-top: 40px;
  }

  .bee-video-testimonial .bee-section-heading h4 {
    margin-bottom: 0;
  }
  .bee-testimonial .bee-section-heading h5 {
    margin-bottom: 40px;
  }
  .bee-testimonial .bee-section-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bee-testimonial .flickity-page-dots {
    top: -30px;
  }
  .bee-customer-support .bee-section-inner {
    padding: 40px 0;
  }
  .bee-hurry-up .bee-section-inner {
    padding: 120px 0;
  }
  .bee-review-pages .bee-section-inner {
    padding: 40px 0;
  }
}
@media screen and (min-width: 992px) {
  .bee-header .bee-col-item {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .bee-header .bee-col-item {
    margin-top: 10px;
  }
  .bee-col-item.bee-logo.col-lg-12.col-xl-auto.col-8.text-center.justify-content-center.text-lg-start.d-flex.align-items-center {
    justify-content: space-between !important;
  }
}
@media screen and (max-width: 1200px) {
  .bee-combo-deal .bee-box-content .bee-box-open_store {
    margin-right: 30px;
  }
  .bee-combo-deal .bee-box-circle {
    margin-inline-end: 30px;
    margin-bottom: 15px;
  }
  .bee-combo-deal .bee-box-content .t4x-box-open_store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1023px) {
  .bee-hero-banner .bee-developed-by {
    margin-bottom: 30px;
  }
  .bee-combo-deal .bee-box-content .bee-box-open_store h4 {
    font-size: 30px;
  }
  .bee-landing-store .bee-section-inner .bee-col-left .bee-item-inner {
    padding: 0;
  }
  .bee-footer-bottom .bee-section-inner {
    padding: 0;
    padding-bottom: 15px;
  }
  .bee-hero-banner .bee-content-heading h3 {
    font-size: 40px;
    line-height: 1;
  }
  .bee-hero-banner .bee-hero-banner_inner {
    height: unset;
  }
  .bee-hero-banner .bee-hero-banner_inner .bee-banner-content {
    padding: 0 15px;
    position: unset;
    padding: 40px 0;
  }
  .bee-why-choose-us .bee-about-me .bee-item-content .bee-data-customer {
    font-size: 20px;
  }
  .bee-why-choose-us .bee-about-me .bee-item-content .bee-data-title {
    font-size: 15px;
  }
  .bee-demo-website .bee-section-heading {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .bee-demo-website .bee-text-count-demo {
    font-size: 180px;
  }
  .bee-landing-store .row {
    flex-direction: column-reverse;
  }
  .bee-landing-store .bee-section-inner {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .bee-reason-get_cobis .bee-item-inner .bee-item-content h4 {
    font-size: 20px;
  }
  .bee-reason-get_cobis .bee-item-inner .bee-item-content h5 {
    font-size: 16px;
  }
  .bee-reason-get_cobis .bee-item-special.bee-item-inner .bee-item-content h4 {
    margin-bottom: 10px;
  }
  .bee-testimonial .bee-section-heading h3 {
    font-size: 30px;
  }
  .bee-review-pages .bee-section-heading h3 {
    font-size: 30px;
  }
  .bee-why-choose-us .bee-section-subheading h3 {
    font-size: 30px;
  }
  .bee-demo-website .bee-heading h3 {
    font-size: 30px;
  }
  .bee-reason-get_cobis .bee-section-heading h3 {
    font-size: 30px;
  }
  .bee-exclusive-deal .bee-section-heading h4 {
    font-size: 30px;
  }
  .bee-video-testimonial .bee-section-heading h4 {
    font-size: 30px;
  }
  .bee-combo-deal .bee-section-heading h4 {
    font-size: 30px;
  }
  .bee-customer-support .bee-heading h3 {
    font-size: 30px;
  }
  .bee-hurry-up .bee-section-inner {
    padding: 40px 0;
  }
}
@media screen and (max-width: 990px) {
  .bee-header-content .bee-group-btn {
    margin-bottom: 20px;
  }
  .bee-header .bee-header-content {
    height: 120px;
  }
  .bee-menu-nav .bee-menu-nav_inner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40%;
    background-color: #fff;
    margin: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 1000;
  }
  .bee-logo .bee-menu-nav_inner.active {
    transform: translateX(0);
  }

  .bee-menu-nav .bee-close-menu_nav {
    padding: 10px;
    margin-top: 20px;
  }
  .bee-menu-nav_inner ul li {
    padding: 10px 20px;
  }
  .bee-header ul li .bee-nav_link::after {
    display: none;
  }

  .bee-hero-banner .bee-content-heading h3 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .bee-hero-banner .bee-content-subheading h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 850px) {
  .bee-demo-website .bee-button-group li {
    margin-inline-end: 8px;
  }
  .bee-demo-website .bee-button-group::after {
    content: "flickity";
    display: none;
  }
  .bee-demo-website .bee-button-group {
    padding: 0 50px;
  }
  .bee-demo-website .bee-section-inner {
    padding-bottom: 40px;
  }

  .bee-reason-get_cobis .bee-section-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bee-reason-get_cobis.cobis2 .bee-section-inner {
    padding-top: 10px;
  }
  .bee-hurry-up .bee-section-inner h3 {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .bee-landing-store .bee-item-inner .bee-item-heading h3 {
    font-size: 28px;
  }
  .bee-reason-get_cobis .bee-item-inner .bee-item-content h5 {
    font-size: 14px;
  }
  .bee-reason-get_cobis .bee-item-inner .bee-item-content {
    margin-top: 15px;
  }
  .bee-combo-deal .bee-box-circle {
    margin: 0;
    margin-bottom: 15px;
  }
  .bee-combo-deal .bee-box-content {
    padding-bottom: 40px;
  }
  .bee-review-pages .bee-section-heading h4 {
    font-size: 14px;
  }
  .bee-reason-get_cobis.cobis3 .bee-section-inner {
    padding-bottom: 40px;
  }
  .bee-hero-banner .bee-developed-by {
    margin-bottom: 20px;
  }
  .bee-hurry-up .bee-open-free {
    padding: 8px 8px 8px 8px;
    min-height: 56px;
  }
  .bee-combo-deal .bee-section-heading {
    margin-bottom: 25px;
  }
  .bee-video-testimonial .bee-item-inner {
    margin-bottom: 15px;
  }
  .bee-sticky-bar .bee-sticky-bar_btn {
    font-size: 10px;
  }
  .bee-exclusive-deal .bee-section-inner {
    padding: 40px 0;
  }
  .bee-customer-support .bee-section-inner {
    padding-bottom: 40px;
    padding-top: 0;
  }
  .bee-why-choose-us .bee-section-inner {
    padding: 40px 0;
  }
  .bee-header .bee-group-btn .bee-btn-open_store,
  .bee-header .bee-group-btn .bee-btn-buy_now {
    min-width: 120px;
    min-height: 40px;
    font-size: 14px;
    padding: 0 20px;
  }
  .bee-menu-nav .bee-menu-nav_inner {
    width: 60%;
  }
  .bee-banner-content br {
    display: none;
  }
  .bee-hero-banner .bee-content-group_btn .bee-banner-btn {
    min-height: 48px;
    width: fit-content;
  }
  .bee-hero-banner .bee-content-group_btn .bee-open-store_free {
    margin-inline-end: 0;
    margin-bottom: 10px;
  }
  .bee-hero-banner .bee-prebuild-demo .bee-arrow_icon {
    width: 30px;
    height: 30px;
  }
  .bee-hero-banner .bee-content-group_btn {
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
  }
  .bee-hero-banner .bee-content-subheading h4 {
    line-height: 1.4;
  }
  .bee-why-choose-us .bee-about-me .bee-item-content .bee-data-customer {
    font-size: 18px;
  }
  .bee-why-choose-us .bee-section-subheading {
    margin-bottom: 10px;
  }
  .bee-demo-website .bee-button-group {
    padding: 0 50px;
  }
  .bee-demo-website .bee-subheading h4 br {
    display: none;
  }
  .bee-demo-website .bee-button-group .bee-button-item {
    min-height: 40px;
  }

  .bee-reason-get_cobis .bee-section-heading {
    margin-bottom: 0;
  }
  .bee-reason-get_cobis .bee-item-inner .bee-item-content h4 {
    font-size: 16px;
  }

  .bee-landing-store .bee-item-inner .bee-item-content p {
    font-size: 16px;
  }
  .bee-landing-store .bee-item-inner .bee-rating,
  .bee-landing-store .bee-item-inner .bee-item-content p {
    margin-bottom: 10px;
  }
  .bee-review-pages .bee-section-heading h4 br {
    display: none;
  }
  .bee-review-pages .bee-section-inner {
    padding: 40px 0;
  }
  .bee-exclusive-deal .bee-item-inner .bee-item-content h4 {
    font-size: 20px;
  }
  .bee-exclusive-deal .bee-item-inner .bee-item-content p {
    font-size: 14px;
  }
  .bee-exclusive-deal .bee-item-inner {
    padding-bottom: 10px;
  }
  .bee-testimonial .bee-item-inner .bee-item-content p {
    font-size: 14px;
  }
  .bee-testimonial .bee-item-inner .bee-item-content h4 {
    font-size: 18px;
  }
  .bee-testimonial .bee-item-inner {
    padding-bottom: 0;
  }
  .bee-exclusive-deal .bee-section-heading h4 {
    font-size: 20px;
  }
  .bee-hurry-up .bee-features-box .bee-box-item:not(:last-child) {
    margin-right: 10px;
  }
  .bee-hurry-up .bee-btn-purchase {
    padding: 8px 8px 8px 16px;
    min-height: 56px;
  }
  .bee-hurry-up .bee-group-btn-2 a {
    margin: 10px auto;
  }
  .bee-hurry-up .bee-btn-purchase .bee-btn-price {
    font-size: 16px;
    margin-left: 5px;
  }
  .bee-hurry-up .bee-btn-purchase .bee-btn-price del {
    margin-left: 5px;
  }
  .bee-hurry-up .bee-features-box {
    margin-bottom: 30px;
  }
  .bee-hurry-up .bee-section-inner h3 {
    font-size: 30px;
  }
  .bee-customer-support .bee-heading h3 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 550px) {
  .bee-back-to-top {
    bottom: 70px;
  }
  .bee-combo-deal .bee-box-content .bee-box-open_store {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 475px) {
  .bee-combo-deal .bee-box-content .bee-box-group_btn a:not(:last-child) {
    margin-right: 0;
  }
  .bee-combo-deal .bee-box-content .bee-box-open_store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .bee-combo-deal .bee-box-circle .bee-box-icon svg {
    width: 30px;
    height: 30px;
  }
  .bee-combo-deal .bee-box-content .bee-box-circle-inner {
    width: 200px;
    height: 200px;
  }
  .bee-review-pages .bee-slide-show {
    margin-bottom: 15px;
  }
  .bee-review-pages .bee-btn-review,
  .bee-review-pages .bee-btn-purchase {
    min-height: 40px;
    padding: 10px 15px;
  }
  .bee-sticky-bar .bee-sticky-bar_btn {
    font-size: 7px;
  }
  .bee-landing-store .bee-register-store span {
    display: none;
  }
  .bee-review-pages .bee-button-group_rv::after {
    content: "flickity";
    display: none;
  }
  .bee-review-pages .bee-button-group_rv li {
    margin-inline-end: 8px;
  }
}
@media screen and (max-width: 425px) {
  .bee-landing-store .bee-register-store .bee-text-input {
    max-width: unset;
    min-width: 120px;
  }
  .bee-combo-deal .bee-box-content .bee-box-circle {
    width: calc(100% - 20px);
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .bee-combo-deal .bee-box-content .bee-box-circle-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bee-header .bee-group-btn .bee-btn-open_store,
  .bee-header .bee-group-btn .bee-btn-buy_now {
    min-width: 120px;
    min-height: 40px;
    font-size: 12px;
    padding: 0 10px;
  }
  .bee-menu-nav .bee-menu-nav_inner {
    width: 80%;
  }

  .bee-why-choose-us .bee-about-me .bee-item-content .bee-data-title {
    font-size: 12px;
  }
  .bee-why-choose-us .bee-about-me .bee-item-content .bee-data-customer {
    font-size: 15px;
  }
  .bee-why-choose-us .bee-section-inner {
    padding: 40px 0;
  }
  .bee-demo-website .bee-text-count-demo {
    font-size: 140px;
  }
  .bee-demo-website .bee-section-heading {
    padding: 30px 15px;
  }
  .bee-reason-get_cobis
    .bee-item-special.bee-item-inner
    .bee-item-content
    h5
    br {
    display: none;
  }
  .bee-video-testimonial .bee-frame-content .bee-chanel-description p {
    display: none;
    /* font-size: 12px; */
  }
  .bee-video-testimonial .bee-item-inner .bee-frame .bee-thumbnail {
    margin-right: 5px;
  }
  .bee-video-testimonial .bee-item-inner .bee-frame {
    padding: 10px;
  }
  .bee-video-testimonial .bee-item-content a {
    font-size: 20px;
  }
  .bee-video-testimonial .bee-item-content p {
    font-size: 14px;
  }
  .bee-video-testimonial .bee-item-content {
    padding: 10px;
  }
  .bee-video-testimonial .bee-frame-content a {
    font-size: 20px;
  }
}
@media screen and (max-width: 350px) {
  .bee-landing-store .bee-register-store .bee-text-input {
    flex: unset;
    padding-left: 16px;
  }
}

/* KEYFRAME */
@keyframes spins {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
